<div class="container-fluid px-md-5 px-3">
  <h2 class="h2 h2-responsive my-3 fw-bolder">Key-partner's Profile</h2>
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row py-2">
        <div
          class="col-md-4 d-flex align-items-start justify-content-center mb-3 mb-md-0"
        >
          <div>
            <div class="img-container position-relative">
              <div
                class="custom-image-dp"
                style="background-image: url('{{ dp || image }}')"
              ></div>
              <input
                (change)="handleImage($event)"
                type="file"
                id="profile-change"
                style="display: none"
              />
              <button
                class="btn btn-info text-white fs-2 px-3 custom-upload-btn"
                (click)="selectImage()"
                [disabled]="loading"
              >
                <i class="bi bi-upload"></i>
              </button>
            </div>
            <div class="col-md-12 text-center mt-2">
              <ng-template [ngIf]="progress > 0">
                <div class="progress mb-2">
                  <div
                    class="progress-bar bg-info"
                    role="progressbar"
                    [style.width.%]="progress"
                    attr.aria-valuenow="{{ progress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </ng-template>
              <button
                class="btn btn-dark"
                (click)="saveProfileImage()"
                [disabled]="loading"
              >
                <ng-template [ngIf]="loading">
                  <div
                    class="spinner-border spinner-border-sm text-warning"
                    role="status"
                  >
                    <span class="sr-only"></span>
                  </div>
                </ng-template>
                <ng-template [ngIf]="!loading"
                  >Update Profile Picture</ng-template
                >
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="mb-3">
            <label for="basic-url" class="form-label fw-bold p-0 m-0"
              >Fullname</label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="bi bi-person-circle"></i
              ></span>
              <input type="text" class="form-control" [(ngModel)]="fullname" />
            </div>
          </div>

          <!-- <div class="mb-3">
            <label for="basic-url" class="form-label fw-bold p-0 m-0"
              >Address</label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="bi bi-house-door-fill"></i
              ></span>
              <input type="text" class="form-control" [(ngModel)]="address" />
            </div>
          </div> -->

          <div>
            Address
            <div class="mb-3">
              <label for="basic-url" class="form-label fw-bold p-0 m-0"
                >Building / House Number</label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bi bi-house-door-fill"></i
                ></span>
                <input type="text" class="form-control" [(ngModel)]="bldgNum" />
              </div>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label fw-bold p-0 m-0"
                >Street / Village</label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bi bi-house-door-fill"></i
                ></span>
                <input type="text" class="form-control" [(ngModel)]="street" />
              </div>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label fw-bold p-0 m-0"
                >Province</label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bi bi-house-door-fill"></i
                ></span>
                <select class="form-control" [(ngModel)]="province" (change)="handleChangeProvince($event)">
                  <option *ngFor="let prov of provinces" [value]="prov">{{ prov }}</option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label fw-bold p-0 m-0"
                >City / Municipality</label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bi bi-house-door-fill"></i
                ></span>
                <select class="form-control" [(ngModel)]="city" (change)="handleChangeCity($event)">
                  <option *ngFor="let c of cities" [value]="c">{{ c }}</option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label fw-bold p-0 m-0"
                >Barangay</label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bi bi-house-door-fill"></i
                ></span>
                <select class="form-control" [(ngModel)]="brgy">
                  <option *ngFor="let b of brgys" [value]="b">{{ b }}</option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="basic-url" class="form-label fw-bold p-0 m-0"
                >Zip Code</label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bi bi-house-door-fill"></i
                ></span>
                <input type="text" class="form-control" [(ngModel)]="zip" />
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="basic-url" class="form-label fw-bold p-0 m-0"
              >Contact</label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="bi bi-telephone"></i
              ></span>
              <input type="text" class="form-control" [(ngModel)]="contact" />
            </div>
          </div>

          <div class="mb-3">
            <label for="basic-url" class="form-label fw-bold p-0 m-0"
              >E-mail</label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="bi bi-mailbox2"></i
              ></span>
              <input type="text" class="form-control" [(ngModel)]="email" />
            </div>
          </div>

          <div class="mb-3">
            <label for="basic-url" class="form-label fw-bold p-0 m-0"
              >Company / Store</label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="bi bi-building"></i
              ></span>
              <input type="text" class="form-control" [(ngModel)]="company" />
            </div>
          </div>

          <div class="col-md-12 text-end">
            <button class="btn btn-dark text-white" (click)="updateProfile()">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4 mb-3">
      <div class="card shadow h-100">
        <div class="card-body">
          <div class="row p-3">
            <h5 class="card-title fw-bold pb-4">Change Username <br /></h5>
            <div class="col-md-12">
              <div class="col-md-12 mb-3 position-relative">
                <label for="contact" class="fs-6 fw-bold">New Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  [(ngModel)]="username"
                />
              </div>

              <div class="col-md-12 text-end">
                <button class="btn btn-dark" (click)="updateUsername()">
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card shadow h-100">
        <div class="card-body">
          <div class="row p-3">
            <h5 class="card-title fw-bold pb-4">Change Password</h5>
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label for="contact" class="fs-6 fw-bold"
                  >Current Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="currentPass"
                  name="currentPass"
                  [(ngModel)]="currentPass"
                />
              </div>
              <div class="form-group mb-3">
                <label for="contact" class="fs-6 fw-bold">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="newPass"
                  name="newPass"
                  [(ngModel)]="newPass"
                />
              </div>
              <div class="form-group mb-3">
                <label for="contact" class="fs-6 fw-bold"
                  >Confirm New Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPass"
                  name="confirmPass"
                  [(ngModel)]="confirmPass"
                />
              </div>
              <div class="col-md-12 text-end">
                <button
                  class="btn btn-dark"
                  (click)="changePassword()"
                  [disabled]="loading"
                >
                  <ng-template [ngIf]="loading">
                    <div
                      class="spinner-border spinner-border-sm text-warning"
                      role="status"
                    >
                      <span class="sr-only"></span>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="!loading">Update</ng-template>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="row p-3">
            <h5 class="card-title fw-bold pb-4">
              Change Password (For Secure Internal Page Authentication)
            </h5>
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label for="contact" class="fs-6 fw-bold"
                  >Current Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="currentIPAPass"
                  name="currentPass"
                  [(ngModel)]="currentIPAPass"
                />
              </div>
              <div class="form-group mb-3">
                <label for="contact" class="fs-6 fw-bold">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="newIPAPass"
                  name="newPass"
                  [(ngModel)]="newIPAPass"
                />
              </div>
              <div class="form-group mb-3">
                <label for="contact" class="fs-6 fw-bold"
                  >Confirm New Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmIPAPass"
                  name="confirmPass"
                  [(ngModel)]="confirmIPAPass"
                />
              </div>
              <div class="col-md-12 text-end">
                <button
                  class="btn btn-dark"
                  (click)="changeIPAPassword()"
                  [disabled]="loading"
                >
                  <ng-template [ngIf]="loading">
                    <div
                      class="spinner-border spinner-border-sm text-warning"
                      role="status"
                    >
                      <span class="sr-only"></span>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="!loading">Update</ng-template>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
