<div class="container-fluid px-md-5 px-3">
  <h2 class="h2 h2-responsive my-3 fw-bolder">Key-partner's Profile</h2>
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row py-2">
        <div
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0"
        >
          <div class="img-container position-relative">
            <img
              src="{{ image }}"
              class="rounded-3"
              style="width: 300px"
              alt="Avatar"
              (error)="errorImage($event)"
            />
            <input type="file" id="profile-change" style="display: none" />
            <button class="btn btn-info text-white fs-2 px-3 custom-upload-btn">
              <i class="bi bi-upload"></i>
            </button>
          </div>
        </div>
        <div class="col-md-8">
          <div class="mb-3">
            <label for="basic-url" class="form-label fw-bold p-0 m-0"
              >Fullname</label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="bi bi-person-circle"></i
              ></span>
              <input type="text" class="form-control" [(ngModel)]="fullname" />
            </div>
          </div>

          <div class="mb-3">
            <label for="basic-url" class="form-label fw-bold p-0 m-0"
              >Address</label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="bi bi-house-door-fill"></i
              ></span>
              <input type="text" class="form-control" [(ngModel)]="address" />
            </div>
          </div>

          <div class="mb-3">
            <label for="basic-url" class="form-label fw-bold p-0 m-0"
              >Contact</label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="bi bi-telephone"></i
              ></span>
              <input type="text" class="form-control" [(ngModel)]="contact" />
            </div>
          </div>

          <div class="mb-3">
            <label for="basic-url" class="form-label fw-bold p-0 m-0"
              >E-mail</label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="bi bi-mailbox2"></i
              ></span>
              <input type="text" class="form-control" [(ngModel)]="email" />
            </div>
          </div>

          <div class="mb-3">
            <label for="basic-url" class="form-label fw-bold p-0 m-0"
              >Company / Store</label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="bi bi-building"></i
              ></span>
              <input type="text" class="form-control" [(ngModel)]="company" />
            </div>
          </div>

          <div class="col-md-12 text-end">
            <button
              class="btn btn-dark fw-bolder px-5 text-white"
              (click)="updateProfile()"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="row p-3">
            <h5 class="card-title fw-bold pb-4">Change Username</h5>
            <div class="col-md-12">
              <div class="col-md-10 offset-md-1 mb-3 position-relative">
                <app-input
                  [inputType]="'text'"
                  [name]="'password'"
                  [label]="'Username'"
                ></app-input>
              </div>

              <div class="col-md-10 offset-md-1 text-end">
                <button class="btn btn-dark fw-bolder px-5 text-white">
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <div class="row p-3">
            <h5 class="card-title fw-bold pb-4">Change Password</h5>
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label for="contact" class="fs-6 fw-bold"
                  >Current Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="currentPass"
                  name="currentPass"
                  [(ngModel)]="currentPass"
                />
              </div>
              <div class="form-group mb-3">
                <label for="contact" class="fs-6 fw-bold">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="newPass"
                  name="newPass"
                  [(ngModel)]="newPass"
                />
              </div>
              <div class="form-group mb-3">
                <label for="contact" class="fs-6 fw-bold"
                  >Confirm New Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPass"
                  name="confirmPass"
                  [(ngModel)]="confirmPass"
                />
              </div>
              <div class="col-md-10 offset-md-1 text-end">
                <button
                  class="btn btn-dark fw-bolder px-5 text-white"
                  (click)="changePassword()"
                >
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
