<div class="container p-4">
  <h4 class="h4 h4-responsive">Create New Purchase Order</h4>
  <div class="card shadow px-3">
    <div class="card-body">
      <div
        class="w-100 d-flex flex-row justify-content-center align-items-start"
      >
        <div
          class="w-50 h-50 d-flex flex-column justify-content-start align-items-start"
        >
          <div class="form-group w-75 mx-auto">
            <label for="item" class="fs-6 fw-bold">Select Item</label>
            <select
              class="form-select"
              [(ngModel)]="poData.itemId"
              (change)="displayInfo(poData.itemId)"
            >
              <option *ngFor="let i of items" [value]="i._id">
                {{ i.description }}
              </option>
            </select>
          </div>
          <div class="form-group w-75 mx-auto">
            <label for="item-description" class="fs-6 fw-bold"
              >Item Description</label
            >
            <input
              type="text"
              class="form-control"
              name="item-description"
              [(ngModel)]="poData.description"
            />
          </div>
          <div class="form-group w-75 mx-auto">
            <label for="quantity" class="fs-6 fw-bold">Quantity</label>
            <input
              type="number"
              class="form-control"
              name="quantity"
              [(ngModel)]="poData.quantity"
              (input)="computeTotalPrice()"
            />
          </div>
          <div class="form-group w-75 mx-auto">
            <label for="units" class="fs-6 fw-bold">Units</label>
            <input
              type="text"
              class="form-control"
              name="units"
              [(ngModel)]="poData.units"
            />
          </div>
          <div class="form-group w-75 mx-auto">
            <label for="units" class="fs-6 fw-bold">Unit Price</label>
            <input
              type="text"
              class="form-control"
              name="unitPrice"
              [(ngModel)]="poData.unitPrice"
              (input)="computeTotalPrice()"
            />
          </div>
          <div>
            <p *ngIf="poData.totalPrice !== ''">
              Total price: P {{ poData.totalPrice }}
            </p>
          </div>
          <br />
          <button
            type="button"
            class="btn btn-primary w-75 mx-auto"
            (click)="addPO(poData)"
          >
            Add
          </button>
        </div>
        <div
          class="w-50 h-50 d-flex flex-row justify-content-center align-items-start"
        >
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Item Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Units</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Total Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let po of pos; let i = index">
                <td>{{ po.description }}</td>
                <td>{{ po.quantity }}</td>
                <td>{{ po.units }}</td>
                <td>{{ po.unitPrice }}</td>
                <td>{{ po.totalPrice }}</td>
                <th scope="row">
                  <i
                    class="bi bi-x-lg text-danger"
                    (click)="removeFromList(i)"
                  ></i>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <button
        type="button"
        class="btn btn-dark me-2"
        (click)="handleClose()"
        [disabled]="loading"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-dark"
        (click)="handleSavePO()"
        [disabled]="loading"
      >
        <ng-template [ngIf]="loading">
          <div
            class="spinner-border spinner-border-sm text-warning"
            role="status"
          >
            <span class="sr-only"></span>
          </div>
        </ng-template>
        <ng-template [ngIf]="!loading">Save</ng-template>
      </button>
    </div>
  </div>
</div>
