<div class="container p-4">
  <h4 class="h4 h4-responsive">Create New Quotation</h4>
  <div class="card shadow px-3">
    <div class="card-body">
      <div
        class="w-100 d-flex flex-row justify-content-center align-items-center"
      >
        <div
          class="w-50 h-50 d-flex flex-column justify-content-start align-items-start"
        >
          <div class="form-group w-75">
            <label for="item" class="fs-6 fw-bold">Select Item</label>
            <select
              class="form-select"
              [(ngModel)]="quoteData.itemId"
              (change)="displayInfo(quoteData.itemId)"
            >
              <option *ngFor="let i of items" [value]="i._id">
                {{ i.description }}
              </option>
            </select>
          </div>
          <div class="form-group w-75">
            <label for="item-description" class="fs-6 fw-bold"
              >Item Description</label
            >
            <input
              type="text"
              class="form-control"
              name="item-description"
              [(ngModel)]="quoteData.description"
            />
          </div>
          <div class="form-group w-75">
            <label for="quantity" class="fs-6 fw-bold">Quantity</label>
            <input
              type="number"
              class="form-control"
              name="quantity"
              [(ngModel)]="quoteData.quantity"
              (input)="computeTotalPrice()"
            />
          </div>
          <div class="form-group w-75">
            <label for="units" class="fs-6 fw-bold">Price Units</label>
            <input
              type="text"
              class="form-control"
              name="units"
              [(ngModel)]="quoteData.unitPrice"
              (input)="computeTotalPrice()"
            />
          </div>
          <div>
            <p *ngIf="quoteData.totalPrice !== ''">
              Total price: P {{ quoteData.totalPrice }}
            </p>
          </div>
          <br />
          <button
            type="button"
            class="btn btn-primary w-75"
            (click)="addQuotation(quoteData)"
          >
            Add
          </button>
        </div>
        <div
          class="w-50 h-50 d-flex flex-row justify-content-center align-items-start"
        >
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Item Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price Units</th>
                <th scope="col">Total Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quote of quotations; let i = index">
                <td>{{ quote.description }}</td>
                <td>{{ quote.quantity }}</td>
                <td>{{ quote.unitPrice }}</td>
                <td>{{ quote.totalPrice }}</td>
                <th scope="row">
                  <i
                    class="bi bi-x-lg text-danger"
                    (click)="removeFromList(i)"
                  ></i>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button
        type="button"
        class="btn btn-dark"
        (click)="handleSaveQuotation($event)"
      >
        Save
      </button>
    </div>
  </div>
</div>
