<div class="container p-4">
  <h4 class="h4 h4-responsive">Create New Quotation</h4>
  <div class="card shadow px-3">
    <div class="card-body">
      <div class="w-100 d-flex flex-row justify-content-center align-items-center">
        <div class="w-50 h-50 d-flex flex-column justify-content-start align-items-start">
          <div class="form-group w-75">
            <label for="item" class="fs-6 fw-bold">Select Item</label>
            <select class="form-select" [(ngModel)]="quoteData.itemId">
              <option *ngFor="let i of data.items" [value]="i._id">{{ i.description }}</option>
            </select>
          </div>
          <div class="form-group w-75">
            <label for="item-description" class="fs-6 fw-bold">Item Description</label>
            <input type="text" class="form-control" name="item-description" [(ngModel)]="quoteData.description" />
          </div>
          <div class="form-group w-75">
            <label for="quantity" class="fs-6 fw-bold">Quantity</label>
            <input type="number" class="form-control" name="quantity" [(ngModel)]="quoteData.quantity" />
          </div>
          <div class="form-group w-75">
            <label for="units" class="fs-6 fw-bold">Units</label>
            <input type="text" class="form-control" name="units" [(ngModel)]="quoteData.unitPrice" />
          </div>
          <div class="form-group w-75">
            <label for="units" class="fs-6 fw-bold">Mark Up</label>
            <input type="text" class="form-control" name="units" [(ngModel)]="quoteData.markUp" />
          </div>
          <br />
          <button type="button" class="btn btn-primary w-75" (click)="addQuotation(quoteData)">Add</button>
        </div>
        <div class="w-50 h-50 d-flex flex-row justify-content-center align-items-start">

        </div>
      </div>
    </div>
  </div>
</div>
