<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">Key Partners</h2>

  <div class="d-flex mb-3">
    <div class="me-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" />
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
    </div>

    <div class="me-2">
      <select class="form-select" aria-label="Default select example">
        <option selected>Search by:</option>
        <option value="1">Email</option>
        <option value="2">Name</option>
      </select>
    </div>
    <button class="btn btn-dark">Go</button>
  </div>

  <div class="card shadow p-3">
    <div class="card-body">
      <div class="table-responsive" style="height: 23rem">
        <table class="table table-hover text-center position-relative">
          <thead class="bg-light sticky-top">
            <tr>
              <th scope="col" class="text-truncate px-1">Name</th>
              <th scope="col" class="text-truncate px-1">User Code</th>
              <th scope="col" class="text-truncate px-1">Address</th>
              <th scope="col" class="text-truncate px-1">Contact Number</th>
              <th scope="col" class="text-truncate px-1">Email</th>
              <th scope="col" class="text-truncate px-1">Store Name</th>
              <th scope="col" class="text-truncate px-1">Status</th>
              <th scope="col" class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="keyPartners.length === 0">
              <tr>
                <td colspan="7">
                  <small class="fw-bold">No Record Found</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="keyPartners.length !== 0">
              <tr *ngFor="let i of keyPartners">
                <td class="text-truncate px-1">{{ i.name }}</td>
                <td class="text-truncate px-1">
                  {{ i.userId ? i.userId : "Unassigned" }}
                </td>
                <td class="text-truncate px-1">{{ i.addr }}</td>
                <td class="text-truncate px-1">{{ i.contact }}</td>
                <td class="text-truncate px-1">{{ i.email }}</td>
                <td class="text-truncate px-1">{{ i.company }}</td>
                <td>
                  <span
                    class="{{
                      i.isActivated
                        ? 'badge badge-pill bg-success'
                        : 'badge badge-pill bg-danger'
                    }}"
                    >{{ i.isActivated ? "Active" : "Inactive" }}</span
                  >
                  <!-- <span class="badge badge-pill bg-success" *ngIf="i % 2 === 0"
                    >Active</span
                  >
                  <span class="badge badge-pill bg-danger" *ngIf="i % 2 !== 0"
                    >Inactive</span
                  > -->
                </td>
                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <!-- <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="updateKP(i._id)"
                        >
                          Update Details
                        </button>
                      </li> -->
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="setActiveStatus(i._id, i.isActivated)"
                        >
                          {{ i.isActivated ? "Set Inactive" : "Set Active" }}
                        </button>
                      </li>
                      <li></li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="assignCode(i)"
                        >
                          Assign Code And Password
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="deleteKP(i._id)"
                        >
                          Delete Record
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="setPassword(i._id)"
                        >
                          Generate New Password
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <!-- <nav class="d-flex justify-content-end my-4">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link custom-pagination-label" href="#">Previous</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">1</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>
