.text-sm {
  font-size: 0.8rem;
  font-weight: 500;
}

.custom-btn {
  padding: 0;
}

.custom-pagination-label {
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
}

.custom-table-responsive {
  max-height: 20rem;
  overflow: auto;
}
