<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">My Booking</h2>
  <div class="row">
    <div class="col-md-12 text-end my-2">
      <button
        class="btn btn-dark text-white fw-bold mx-2"
        (click)="createNewBooking()"
      >
        <i class="bi bi-plus"></i> Create new Booking
      </button>
      <button class="btn btn-dark text-white fw-bold" (click)="uploadBooking()">
        <i class="bi bi-upload"></i> Upload Booking
      </button>
    </div>
  </div>

  <div class="d-flex">
    <div class="dropdown me-2">
      <button
        class="btn dropdown-toggle btn-dark custom-btn w-100 text-white fw-bold py-1 px-3"
        type="button"
        id="dropdownMenuButton2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Export
      </button>
      <ul
        class="dropdown-menu dropdown-menu-light"
        aria-labelledby="dropdownMenuButton2"
      >
        <li>
          <button class="dropdown-item text-sm" (click)="export('flash')">Flash Template</button>
        </li>
        <li>
          <button class="dropdown-item text-sm" (click)="export('jnt')">JNT Template</button>
        </li>
        <li>
          <button class="dropdown-item text-sm" (click)="export('all')">All</button>
        </li>
      </ul>
    </div>
    <!-- <div class="dropdown">
      <button
        class="btn dropdown-toggle btn-dark custom-btn w-100 text-white fw-bold py-1 px-3"
        type="button"
        id="dropdownMenuButton2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Print
      </button>
      <ul
        class="dropdown-menu dropdown-menu-light"
        aria-labelledby="dropdownMenuButton2"
      >
        <li>
          <button class="dropdown-item text-sm">Excel</button>
        </li>
        <li>
          <button class="dropdown-item text-sm">JNT Template</button>
        </li>
        <li>
          <button class="dropdown-item text-sm">All</button>
        </li>
      </ul>
    </div> -->
  </div>

  <div class="my-3">
    <div class="d-flex align-items-center">
      <div class="me-2">
        <div class="input-group me-2">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="search"
          />
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
      </div>

      <div class="me-2">
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="category"
        >
          <option value="customer">Receiver Name</option>
          <option value="sender">Sender / Page Name</option>
        </select>
      </div>

      <button class="btn btn-dark" (click)="handleSearch()">Go</button>
    </div>
  </div>

  <div class="card shadow p-3">
    <div class="card-body">
      <div class="mb-3 d-flex flex-wrap">
        <div class="d-flex align-items-center me-3 mb-2 mb-lg-0">
          <span class="me-2">Filter by date:</span>
          <div class="me-2">
            <input
              type="date"
              class="form-control"
              [(ngModel)]="selectedDate"
            />
          </div>
          <button class="btn btn-dark me-2" (click)="handleDateFilter()">
            Go
          </button>
          <button class="btn btn-dark" (click)="handleReset()">Reset</button>
        </div>
        <div class="d-flex align-items-center">
          <span class="me-2">Filter by status:</span>
          <div class="me-2">
            <select
              class="form-select"
              aria-label="Default select example"
              [(ngModel)]="status"
            >
              <option value="all">All</option>
              <option value="fulfilled">Fulfilled</option>
              <option value="unfulfilled">Unfulfilled</option>
            </select>
          </div>
          <button class="btn btn-dark" (click)="handleStatusFilter()">
            Go
          </button>
        </div>
      </div>
      <div class="table-responsive" style="height: 23rem">
        <table class="hoverable table table-hover text-center">
          <thead class="bg-light sticky-top">
            <tr>
              <th col="scope" className="text-truncate px-3">Receiver Name</th>
              <th col="scope" className="text-truncate px-3">Phone Number</th>
              <th col="scope" className="text-truncate px-3">Address</th>
              <th col="scope" className="text-truncate px-3">Zip Code</th>
              <th col="scope" className="text-truncate px-3">
                Province / State
              </th>
              <th col="scope" className="text-truncate px-3">City</th>
              <th col="scope" className="text-truncate px-3">Barangay</th>
              <th col="scope" className="text-truncate px-3">Products</th>
              <th col="scope" className="text-truncate px-3">Quantity</th>
              <th col="scope" className="text-truncate px-3">COD</th>
              <th col="scope" className="text-truncate px-3">
                Sender / Page Name
              </th>
              <th col="scope" className="text-truncate px-3">Contact No</th>
              <th col="scope" className="text-truncate px-3">Date Booked</th>
              <th col="scope" className="text-truncate px-3">Remarks</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="bookings.length === 0">
              <tr>
                <td colspan="14">
                  <small class="fw-bold">No Record Found.</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="bookings.length !== 0">
              <tr *ngFor="let td of bookings" [class]="(td.status === 'fulfilled') ? 'table-success' : 'table-danger'">
                <td class="text-truncate px-3">{{ td.customer }}</td>
                <td class="text-truncate px-3">{{ td.customerContact }}</td>
                <td class="text-truncate px-3">{{ td.hsStNum }}</td>
                <td class="text-truncate px-3">{{ td.zip }}</td>
                <td class="text-truncate px-3">{{ td.province }}</td>
                <td class="text-truncate px-3">{{ td.city }}</td>
                <td class="text-truncate px-3">{{ td.brgy }}</td>
                <td class="text-truncate px-3">
                  <ng-template [ngIf]="td.itemType === 'individual'">
                    {{ handleProduct(td) }}
                  </ng-template>
                  <ng-template [ngIf]="td.itemType === 'bundle'">
                    <div
                      class="fw-bold text-primary"
                      style="cursor: pointer"
                      (click)="viewBundle(td.bundleId._id)"
                    >
                      <u>{{ handleProduct(td) }}</u>
                    </div>
                  </ng-template>
                </td>
                <td class="text-truncate px-3">{{ handleQuantity(td) }}</td>
                <td class="text-truncate px-3">{{ td.cod }}</td>
                <td class="text-truncate px-3">{{ td.sender }}</td>
                <td class="text-truncate px-3">{{ td.senderContact }}</td>
                <td class="text-truncate px-3">
                  {{ handleDate(td.createdAt) }}
                </td>
                <td class="text-truncate px-3">{{ td.remarks }}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <nav class="d-flex justify-content-end my-4">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link custom-pagination-label" href="#">Previous</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">1</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">Next</a>
      </li>
    </ul>
  </nav> -->
</div>
