<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">My Booking</h2>
  <div class="row">
    <div class="col-md-12 text-end my-2">
      <button
        class="btn btn-dark text-white fw-bold mx-2"
        (click)="createNewBooking()"
      >
        <i class="bi bi-plus"></i> Create new Booking
      </button>
      <button class="btn btn-dark text-white fw-bold">
        <i class="bi bi-upload"></i> Upload Booking
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <div class="dropdown col-3 me-1">
        <button
          class="btn dropdown-toggle btn-dark custom-btn w-100 text-white fw-bold py-1"
          type="button"
          id="dropdownMenuButton2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Export
        </button>
        <ul
          class="dropdown-menu dropdown-menu-light"
          aria-labelledby="dropdownMenuButton2"
        >
          <li>
            <button class="dropdown-item text-sm">Flash Template</button>
          </li>
          <li>
            <button class="dropdown-item text-sm">JNT Template</button>
          </li>
          <li>
            <button class="dropdown-item text-sm">All</button>
          </li>
        </ul>
      </div>
      <div class="dropdown col-3">
        <button
          class="btn dropdown-toggle btn-dark custom-btn w-100 text-white fw-bold py-1"
          type="button"
          id="dropdownMenuButton2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Print
        </button>
        <ul
          class="dropdown-menu dropdown-menu-light"
          aria-labelledby="dropdownMenuButton2"
        >
          <li>
            <button class="dropdown-item text-sm">Flash Template</button>
          </li>
          <li>
            <button class="dropdown-item text-sm">JNT Template</button>
          </li>
          <li>
            <button class="dropdown-item text-sm">All</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="row">
        <div class="col-8 p-0">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" />
            <span class="input-group-text"><i class="bi bi-search"></i></span>
          </div>
        </div>

        <div class="col-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>Search by:</option>
            <option value="1">Name</option>
            <option value="2">Sender / Page Name</option>
            <option value="3">ID Number</option>
            <option value="4">Date</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="hoverable table table-hover text-center">
          <thead>
            <tr>
              <th
                scope="col"
                *ngFor="let th of tableHeader"
                class="text-truncate px-3"
              >
                {{ th.thead }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let td of tableData">
              <td class="text-truncate px-3">{{ td.receivename }}</td>
              <td class="text-truncate px-3">{{ td.phoneno }}</td>
              <td class="text-truncate px-3">{{ td.address }}</td>
              <td class="text-truncate px-3">{{ td.zipcode }}</td>
              <td class="text-truncate px-3">{{ td.province }}</td>
              <td class="text-truncate px-3">{{ td.city }}</td>
              <td class="text-truncate px-3">{{ td.barangay }}</td>
              <td class="text-truncate px-3">{{ td.products }}</td>
              <td class="text-truncate px-3">{{ td.quantity }}</td>
              <td class="text-truncate px-3">{{ td.cod }}</td>
              <td class="text-truncate px-3">{{ td.senderpagename }}</td>
              <td class="text-truncate px-3">{{ td.contact }}</td>
              <td class="text-truncate px-3">{{ td.remarks }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <nav class="d-flex justify-content-end my-4">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link custom-pagination-label" href="#">Previous</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">1</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
