<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">Booking List</h2>
  <div class="row">
    <div class="col-md-6 my-3">
      <div class="d-flex align-items-center">
        <div class="me-2 flex-grow-1">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              [(ngModel)]="search"
            />
            <span class="input-group-text"><i class="bi bi-search"></i></span>
          </div>
        </div>
        <div class="me-2">
          <select
            class="form-select"
            aria-label="Default select example"
            [(ngModel)]="category"
          >
            <option value="customer">Receiver Name</option>
            <option value="sender">Sender / Page Name</option>
            <option value="bookingId">ID Number</option>
          </select>
        </div>
        <button class="btn btn-dark" (click)="handleSearch()">Go</button>
      </div>
    </div>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 d-flex align-items-center">
          <span class="me-2">Filter by date:</span>
          <div class="me-2">
            <input
              type="date"
              class="form-control"
              [(ngModel)]="selectedDate"
            />
          </div>
          <button class="btn btn-dark me-2" (click)="handleDateFilter()">
            Go
          </button>
          <button class="btn btn-dark" (click)="handleReset()">Reset</button>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <span class="me-2">Filter by status:</span>
          <div class="me-2">
            <select
              class="form-select"
              aria-label="Default select example"
              [(ngModel)]="status"
            >
              <option value="all">All</option>
              <option value="fulfilled">Fulfilled</option>
              <option value="unfulfilled">Unfulfilled</option>
            </select>
          </div>
          <button class="btn btn-dark" (click)="handleStatusFilter()">
            Go
          </button>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <span class="me-2">Action:</span>
          <div class="me-2">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="action">
              <option selected>--------</option>
              <option value="1">Mark Selected As Fulfilled</option>
              <option value="2">Export Selected</option>
            </select>
          </div>
          <button class="btn btn-dark" (click)="handleAction()">Go</button>
        </div>
      </div>
      <div class="table-responsive" style="height: 23rem">
        <table class="hoverable table table-hover text-center">
          <thead class="bg-light sticky-top">
            <tr>
              <th
                class="text-truncate px-3 p-0 d-flex align-items-center border-0"
              >
                <div class="form-check mt-2 bo">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkAll"
                    (change)="handleSelectAll($event)"
                  />
                  <label class="form-check-label" for="checkAll">
                    Select All
                  </label>
                </div>
              </th>
              <th col="scope" class="text-truncate px-1">ID</th>
              <th col="scope" class="text-truncate px-1">Date</th>
              <th col="scope" class="text-truncate px-1">Receiver Name</th>
              <th col="scope" class="text-truncate px-1">Phone Number</th>
              <th col="scope" class="text-truncate px-1">Address</th>
              <th col="scope" class="text-truncate px-1">Zip Code</th>
              <th col="scope" class="text-truncate px-1">Province / State</th>
              <th col="scope" class="text-truncate px-1">City</th>
              <th col="scope" class="text-truncate px-1">Barangay</th>
              <th col="scope" class="text-truncate px-1">Products</th>
              <th col="scope" class="text-truncate px-1">Quantity</th>
              <th col="scope" class="text-truncate px-1">COD</th>
              <th col="scope" class="text-truncate px-1">Sender / Page Name</th>
              <th col="scope" class="text-truncate px-1">Contact Number</th>
              <th col="scope" class="text-truncate px-1">Remarks</th>
              <th col="scope" class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="bookings.length === 0">
              <tr>
                <td colspan="17">
                  <small class="fw-bold">No Record Found.</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="bookings.length !== 0">
              <tr *ngFor="let td of bookings">
                <td class="text-truncate px-3">
                  <div
                    class="form-check d-flex align-items-center justify-content-center"
                  >
                    <input
                      class="form-check-input select-field"
                      type="checkbox"
                      value=""
                      id="checkAll"
                    />
                  </div>
                </td>
                <td scope="row">{{ td.bookingId }}</td>
                <td class="text-truncate px-3">
                  {{ handleDate(td.createdAt) }}
                </td>
                <td class="text-truncate px-3">{{ td.customer }}</td>
                <td class="text-truncate px-3">{{ td.customerContact }}</td>
                <td class="text-truncate px-3">{{ td.hsStNum }}</td>
                <td class="text-truncate px-3">{{ td.zip }}</td>
                <td class="text-truncate px-3">{{ td.province }}</td>
                <td class="text-truncate px-3">{{ td.city }}</td>
                <td class="text-truncate px-3">{{ td.brgy }}</td>
                <td class="text-truncate px-3">
                  <ng-template [ngIf]="td.itemType === 'individual'">
                    {{ handleProduct(td) }}
                  </ng-template>
                  <ng-template [ngIf]="td.itemType === 'bundle'">
                    <div
                      class="fw-bold text-primary"
                      style="cursor: pointer"
                      (click)="viewBundle(td.bundleId._id)"
                    >
                      <u>{{ handleProduct(td) }}</u>
                    </div>
                  </ng-template>
                </td>
                <td class="text-truncate px-3">{{ handleQuantity(td) }}</td>
                <td class="text-truncate px-3">{{ td.cod }}</td>
                <td class="text-truncate px-3">{{ td.sender }}</td>
                <td class="text-truncate px-3">{{ td.senderContact }}</td>
                <td class="text-truncate px-3">{{ td.remarks }}</td>
                <td class="px-3">
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <button class="dropdown-item text-sm" (click)="markOneAsFulfilled(td._id)">
                          Mark As Fulfilled
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item text-sm" (click)="markOneAsUnfulfilled(td._id)">
                          Mark As Unfulfilled
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item text-sm" (click)="exportOne(td._id)">Export</button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <nav class="d-flex justify-content-end mt-3">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link custom-pagination-label" href="#">Previous</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">1</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">Next</a>
      </li>
    </ul>
  </nav> -->
</div>
