<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">Booking List</h2>
  <div class="row">
    <div class="col-md-6 my-3">
      <div class="d-flex align-items-center">
        <div class="me-2 flex-grow-1">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" />
            <span class="input-group-text"><i class="bi bi-search"></i></span>
          </div>
        </div>
        <div class="me-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>Search by:</option>
            <option value="1">Receiver Name</option>
            <option value="2">Sender / Page Name</option>
            <option value="3">ID Number</option>
          </select>
        </div>
        <button class="btn btn-dark">Go</button>
      </div>
    </div>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 d-flex align-items-center">
          <span class="me-2">Filter by date:</span>
          <div class="me-2">
            <input type="date" class="form-control" />
          </div>
          <button class="btn btn-dark">Go</button>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <span class="me-2">Filter by status:</span>
          <div class="me-2">
            <select class="form-select" aria-label="Default select example">
              <option selected>--------</option>
              <option value="1">Fulfilled</option>
              <option value="1">Unfulfilled</option>
            </select>
          </div>
          <button class="btn btn-dark">Go</button>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <span class="me-2">Action:</span>
          <div class="me-2">
            <select class="form-select" aria-label="Default select example">
              <option selected>--------</option>
              <option value="1">Mark All Selected As Fulfilled</option>
              <option value="1">Export All Selected Using JNT Template</option>
              <option value="1">
                Export All Selected Using Flash Template
              </option>
              <option value="1">Export All</option>
            </select>
          </div>
          <button class="btn btn-dark">Go</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="hoverable table table-hover text-center">
          <thead>
            <tr>
              <th
                class="text-truncate px-3 p-0 d-flex align-items-center border-0"
              >
                <div class="form-check mt-2 bo">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkAll"
                  />
                  <label class="form-check-label" for="checkAll">
                    Select All
                  </label>
                </div>
              </th>
              <th col="scope" class="text-truncate px-1">ID</th>
              <th col="scope" class="text-truncate px-1">Date</th>
              <th col="scope" class="text-truncate px-1">Receiver Name</th>
              <th col="scope" class="text-truncate px-1">Phone Number</th>
              <th col="scope" class="text-truncate px-1">Address</th>
              <th col="scope" class="text-truncate px-1">Zip Code</th>
              <th col="scope" class="text-truncate px-1">Province / State</th>
              <th col="scope" class="text-truncate px-1">City</th>
              <th col="scope" class="text-truncate px-1">Barangay</th>
              <th col="scope" class="text-truncate px-1">Products</th>
              <th col="scope" class="text-truncate px-1">Quantity</th>
              <th col="scope" class="text-truncate px-1">COD</th>
              <th col="scope" class="text-truncate px-1">Sender / Page Name</th>
              <th col="scope" class="text-truncate px-1">Contact Number</th>
              <th col="scope" class="text-truncate px-1">Remarks</th>
              <th col="scope" class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let td of tableData">
              <td class="text-truncate px-3">
                <div
                  class="form-check d-flex align-items-center justify-content-center"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkAll"
                  />
                </div>
              </td>
              <th scope="row">{{ td.id }}</th>
              <td class="text-truncate px-3">{{ td.date }}</td>
              <td class="text-truncate px-3">{{ td.receivename }}</td>
              <td class="text-truncate px-3">{{ td.phoneno }}</td>
              <td class="text-truncate px-3">{{ td.address }}</td>
              <td class="text-truncate px-3">{{ td.zipcode }}</td>
              <td class="text-truncate px-3">{{ td.province }}</td>
              <td class="text-truncate px-3">{{ td.city }}</td>
              <td class="text-truncate px-3">{{ td.barangay }}</td>
              <td class="text-truncate px-3">{{ td.products }}</td>
              <td class="text-truncate px-3">{{ td.quantity }}</td>
              <td class="text-truncate px-3">{{ td.cod }}</td>
              <td class="text-truncate px-3">{{ td.senderpagename }}</td>
              <td class="text-truncate px-3">{{ td.contact }}</td>
              <td class="text-truncate px-3">{{ td.remarks }}</td>
              <td class="px-3">
                <div class="dropdown">
                  <button
                    class="btn btn-light custom-btn"
                    type="button"
                    id="dropdownMenuButton2"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-light"
                    aria-labelledby="dropdownMenuButton2"
                  >
                    <li>
                      <button class="dropdown-item text-sm">
                        Mark As Fulfilled
                      </button>
                    </li>
                    <li>
                      <button class="dropdown-item text-sm">
                        Mark As Unfulfilled
                      </button>
                    </li>
                    <li>
                      <button class="dropdown-item text-sm">Export</button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <nav class="d-flex justify-content-end my-4">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link custom-pagination-label" href="#">Previous</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">1</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
