<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">Account Requests List</h2>
  <div class="col-md-6 my-3">
    <div class="row ms-1">
      <div class="col-8 p-0">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search" />
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
      </div>
      <div class="col-4">
        <select class="form-select" aria-label="Default select example">
          <option selected>Search by:</option>
          <option value="1">Name</option>
          <option value="4">Email</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-center position-relative">
          <thead class="bg-light">
            <tr>
              <th scope="col" class="px-1 text-truncate">ID</th>
              <th scope="col" class="px-1 text-truncate">Name</th>
              <th scope="col" class="px-1 text-truncate">Address</th>
              <th scope="col" class="px-1 text-truncate">Contact Number</th>
              <th scope="col" class="px-1 text-truncate">Email</th>
              <th scope="col" class="px-1 text-truncate">Store Name</th>
              <th scope="col" class="px-1 text-truncate">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let table of tableDatas">
              <th class="px-1 text-truncate" scope="row">1</th>
              <td class="px-1 text-truncate">Juan Dela Cruz</td>
              <td class="px-1 text-truncate">San Pablo City, Laguna</td>
              <td class="px-1 text-truncate">09516022352</td>
              <td class="px-1 text-truncate">juan.delcruz@gmail.com</td>
              <td class="px-1 text-truncate">Dela Cruz Bakery Store</td>
              <td>
                <div class="dropdown">
                  <button
                    class="btn btn-light custom-btn"
                    type="button"
                    id="dropdownMenuButton2"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-light"
                    aria-labelledby="dropdownMenuButton2"
                  >
                    <li>
                      <button class="dropdown-item text-sm">Approve</button>
                    </li>
                    <li>
                      <button class="dropdown-item text-sm">Reject</button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <nav class="d-flex justify-content-end my-4">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link custom-pagination-label" href="#">Previous</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">1</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
