<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">Account Requests List</h2>
  <div class="row">
    <div class="col-md-6 my-3">
      <div class="d-flex align-items-center">
        <div class="me-2 flex-grow-1">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              [(ngModel)]="search"
            />
            <span class="input-group-text"><i class="bi bi-search"></i></span>
          </div>
        </div>
        <div class="me-2">
          <select
            class="form-select"
            aria-label="Default select example"
            [(ngModel)]="category"
          >
            <option value="email">Email</option>
            <option value="name">Name</option>
          </select>
        </div>
        <button class="btn btn-dark" (click)="handleSearch()">Go</button>
      </div>
    </div>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <div class="table-responsive" style="height: 23rem">
        <table class="table table-hover text-center position-relative">
          <thead class="bg-light sticky-top">
            <tr>
              <th scope="col" class="px-1 text-truncate">Name</th>
              <th scope="col" class="px-1 text-truncate">Address</th>
              <th scope="col" class="px-1 text-truncate">Contact Number</th>
              <th scope="col" class="px-1 text-truncate">Email</th>
              <th scope="col" class="px-1 text-truncate">Store Name</th>
              <th scope="col" class="px-1 text-truncate">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="keyPartners.length === 0">
              <tr>
                <td colspan="6">
                  <small class="fw-bold">No Record Found.</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="keyPartners.length !== 0">
              <tr *ngFor="let i of keyPartners">
                <td class="px-1 text-truncate">{{ i.name }}</td>
                <td class="px-1 text-truncate">{{ i.addr }}</td>
                <td class="px-1 text-truncate">{{ i.contact }}</td>
                <td class="px-1 text-truncate">{{ i.email }}</td>
                <td class="px-1 text-truncate">{{ i.company }}</td>
                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="approveKeyPartner(i._id)"
                        >
                          Approve
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item text-sm">Reject</button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <!-- <nav class="d-flex justify-content-end mt-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link custom-pagination-label" href="#">Previous</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">1</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>
