<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">My Customer</h2>
  <div class="col-md-12 text-end">
    <button
      class="btn btn-dark text-white fw-bolder"
      (click)="createNewCustomer()"
    >
      <i class="bi bi-plus"></i> Create new Customer
    </button>
  </div>
  <div class="row">
    <div class="col-md-6 my-3">
      <div class="d-flex align-items-center">
        <div class="me-2 flex-grow-1">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              name="search"
              [(ngModel)]="search"
            />
            <span class="input-group-text"><i class="bi bi-search"></i></span>
          </div>
        </div>
        <div class="me-2">
          <select
            class="form-select"
            aria-label="Default select example"
            name="search"
            [(ngModel)]="category"
          >
            <option value="email" selected>Email</option>
            <option value="name">Name</option>
          </select>
        </div>
        <button class="btn btn-dark" (click)="handleSearch()">Go</button>
      </div>
    </div>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <div class="table-responsive" style="height: 23rem">
        <table class="table table-hover text-center position-relative">
          <thead class="bg-light sticky-top">
            <tr>
              <th scope="col" class="text-truncate px-1">Name</th>
              <th scope="col" class="text-truncate px-1">Address</th>
              <th scope="col" class="text-truncate px-1">Contact Number</th>
              <th scope="col" class="text-truncate px-1">Email</th>
              <th scope="col" class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="customers.length === 0">
              <tr>
                <td colspan="5">
                  <small class="fw-bold">No Customer Record found.</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="customers !== 0">
              <tr *ngFor="let item of customers">
                <td class="text-truncate px-1">{{ item.name }}</td>
                <td class="text-truncate px-1 text-capitalize">
                  {{ fullAddress(item.addr) }}
                </td>
                <td class="text-truncate px-1">{{ item.contact }}</td>
                <td class="text-truncate px-1">{{ item.email }}</td>

                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="updateCustomer(item)"
                        >
                          Update Record
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="deleteCustomer(item._id)"
                        >
                          Delete Record
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <!-- <nav class="d-flex justify-content-end mt-3">
        <ul class="pagination">
          <li class="page-item">
            <button
              type="button"
              class="page-link custom-pagination-label"
              [disabled]="page <= 1"
              (click)="handlePage('previous')"
            >
              Previous
            </button>
          </li>
          <li class="page-item custom-pagination-label">
            <button
              class="page-link custom-pagination-label"
              type="button"
              disabled
            >
              {{ page + " of " + totalpage }}
            </button>
          </li>
          <li class="page-item custom-pagination-label">
            <button
              type="button"
              class="page-link custom-pagination-label"
              [disabled]="page >= totalpage"
              (click)="handlePage('next')"
            >
              Next
            </button>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>
