<div class="container-fluid mx-0">
  <h2 class="h2 h2-responsive my-3 fw-bolder">COA / NDA</h2>
  <div class="col-md-12">
    <div class="card shadow p-3">
      <div class="card-body">
        <h3 class="h3">Send COA / NDA</h3>
        <div class="mb-3">
          <button class="px-5 btn btn-dark text-white fw-bold shadow">
            Select Key Partners
          </button>
          <span class="mx-3 fw-bold">Selected Key Partners Here</span>
        </div>

        <div class="mb-3">
          <button class="px-5 btn btn-dark text-white fw-bold shadow">
            Upload File
          </button>
          <span class="mx-3 fw-bold">Selected File</span>
        </div>

        <div class="text-end">
          <button class="btn btn-dark px-5">SEND</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-5">
    <h3 class="h3">COA / NDA Sending History</h3>
    <div class="card shadow p-3">
      <div class="card-body">
        <div class="table-responsive" style="height: 23rem">
          <table class="hoverable table table-hover text-center">
            <thead>
              <tr>
                <th class="text-truncate px-1">Date Sent</th>
                <th class="text-truncate px-1">Sent To (Key Partners Name)</th>
                <th class="text-truncate px-1">Key Partners Company Name</th>
                <th class="text-truncate px-1">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-truncate px-1">7/24/2022, 8:59:17 PM</td>
                <td class="text-truncate px-1">Key Partners Name</td>
                <td class="text-truncate px-1">Key Partners Company Name</td>
                <td>
                  <button
                    class="btn btn-dark text-white fw-bolder py-0"
                    data-tool-tip="View COA/NDA"
                  >
                    <i class="bi bi-door-open"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <nav class="d-flex justify-content-end mt-3">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link custom-pagination-label" href="#">Previous</a>
            </li>
            <li class="page-item custom-pagination-label">
              <a class="page-link custom-pagination-label" href="#">1</a>
            </li>
            <li class="page-item custom-pagination-label">
              <a class="page-link custom-pagination-label" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
