.custom {
  &-search-icon {
    position: absolute;
    top: 0.45rem;
    right: 0.8rem;
  }
}

.custom-pagination-label {
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
}

.text-sm {
  font-size: 0.8rem;
  font-weight: 500;
}

.custom-btn {
  padding: 0;
}

.legend-info {
  width: 25px;
  height: 25px;
  background-color: #cff4fc;
  border: 1px solid black;
}

.legend-warning {
  width: 25px;
  height: 25px;
  background-color: #fff3cd;
  border: 1px solid black;
}

.legend-success {
  width: 25px;
  height: 25px;
  background-color: #d1e7dd;
  border: 1px solid black;
}
