<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">My Inquiry</h2>
  <div class="text-end">
    <button
      class="btn btn-dark text-white fw-bold"
      (click)="createNewInquiry()"
    >
      <i class="bi bi-plus"></i> Create new Inquiry
    </button>
  </div>

  <div class="d-flex align-items-center my-2">
    <div class="col-md-6 me-2">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Inquiry Number"
        />
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
    </div>
    <button class="btn btn-dark">Go</button>
  </div>

  <div class="card shadow p-3">
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-end mb-4">
        <span class="me-2">Action:</span>
        <div class="me-2">
          <select class="form-select" aria-label="Default select example">
            <option value="download">Download All Selected</option>
          </select>
        </div>
        <button class="btn btn-dark" (click)="downloadSelected()">Go</button>
      </div>
      <div class="table-responsive" style="height: 23rem">
        <table class="hoverable table table-hover text-center">
          <thead class="bg-light sticky-top">
            <tr>
              <th class="px-1 text-truncate">
                <div class="py-0 my-0 form-check d-flex justify-content-center">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="check-all"
                    (change)="handleSelectAll($event)"
                  />
                </div>
              </th>
              <th class="text-truncate px-1">Inquiry Number</th>
              <th class="text-truncate px-1">Date</th>
              <th class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="inquiryList.length === 0">
              <tr>
                <td colspan="3">
                  <small class="fw-bold">No Record Found</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="inquiryList.length !== 0">
              <tr *ngFor="let inq of inquiryList">
                <td class="text-center">
                  <div
                    class="py-0 my-0 form-check d-flex justify-content-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input custom-check-me"
                      id="check-only"
                    />
                  </div>
                </td>
                <td class="text-truncate px-1">{{ inq.inqId }}</td>
                <td class="text-truncate px-1">
                  {{ inq.createdAt | customDate: "MM/DD/YYYY, hh:mm:ss a" }}
                </td>
                <td>
                  <button
                    class="btn btn-dark text-white fw-bolder py-0"
                    (click)="viewInquiry(inq)"
                    data-tool-tip="View Inquiry"
                  >
                    <i class="bi bi-door-open"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <nav class="d-flex justify-content-end my-4">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link custom-pagination-label" href="#">Previous</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">1</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">Next</a>
      </li>
    </ul>
  </nav> -->
</div>
