<div class="container">
  <h4 class="h4 h4-responsive pt-4 pb-3">Update Item</h4>

  <form (submit)="saveData($event)">
    <div class="card shadow px-1 mb-3">
      <div class="card-body">
        <div class="card mb-2">
          <div class="card-body">
            <div class="mb-3">
              <label for="date" class="form-label fw-bold m-0 p-0"
                >Key Partners</label
              >
              <select
                class="form-select text-lowercase"
                name="keyPartner"
                [(ngModel)]="itemData.keyPartnerId"
              >
                <option
                  *ngFor="let item of keyPartners"
                  [value]="item._id"
                  class="text-capitalize"
                >
                  {{ item.username + " - " + item.name }}
                </option>
              </select>
            </div>
            <div class="d-flex align-items-center">
              <div class="mb-2 me-2 flex-grow-1">
                <label for="item" class="form-label fw-bold m-0 p-0"
                  >Item Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="item"
                  name="itemName"
                  [(ngModel)]="itemData.desc"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-2">
          <div class="card-body">
            <h6 class="h5 h5-responsive">Variant</h6>

            <div class="mb-2 flex-grow-1">
              <label for="color" class="form-label fw-bold m-0 p-0"
                >Classification</label
              >
              <select
                class="form-select text-lowercase"
                name="classification"
                [(ngModel)]="itemData.classification"
              >
                <option
                  *ngFor="let item of classification"
                  [value]="item._id"
                  class="text-lowercase"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>

            <div class="mb-2">
              <label for="color" class="form-label fw-bold m-0 p-0"
                >Color</label
              >
              <select
                class="form-select text-lowercase"
                name="color"
                [(ngModel)]="itemData.color"
              >
                <option
                  *ngFor="let item of color"
                  [value]="item._id"
                  class="text-lowercase"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="mb-2">
              <label for="size" class="form-label fw-bold m-0 p-0">Sizes</label>
              <select
                class="form-select"
                name="size"
                [(ngModel)]="itemData.size"
              >
                <option
                  *ngFor="let item of size"
                  [value]="item._id"
                  class="text-lowercase"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="mb-2 me-2">
                <label for="in" class="form-label fw-bold m-0 p-0">In</label>
                <input
                  [(ngModel)]="itemData.in"
                  type="text"
                  class="form-control"
                  id="in"
                  name="in"
                />
              </div>
              <div class="mb-2 me-2 flex-grow-1">
                <label for="out" class="form-label fw-bold m-0 p-0">Out</label>
                <input
                  [(ngModel)]="itemData.out"
                  type="text"
                  class="form-control"
                  id="out"
                  name="out"
                />
              </div>
              <div class="mb-2 me-2 flex-grow-1">
                <label for="rts" class="form-label fw-bold m-0 p-0">RTS</label>
                <input
                  [(ngModel)]="itemData.rts"
                  type="text"
                  class="form-control"
                  id="rts"
                  name="rts"
                />
              </div>
              <div class="mb-2 flex-grow-1">
                <label for="defective" class="form-label fw-bold m-0 p-0"
                  >Defective</label
                >
                <input
                  [(ngModel)]="itemData.defective"
                  type="text"
                  class="form-control"
                  id="defective"
                  name="defective"
                />
              </div>
            </div>
            <div class="d-flex">
              <div class="mb-2 me-2 flex-grow-1">
                <label for="currentQty" class="form-label fw-bold m-0 p-0"
                  >Current Quantity</label
                >
                <input
                  [(ngModel)]="itemData.currentQty"
                  type="text"
                  class="form-control"
                  id="currentQty"
                  name="currentQty"
                />
              </div>
              <div class="mb-2 me-2 flex-grow-1">
                <label for="price" class="form-label fw-bold m-0 p-0"
                  >Price / Unit</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="price"
                  name="price"
                  [(ngModel)]="itemData.price"
                />
              </div>
              <div class="mb-2 flex-grow-1">
                <label for="currentQty" class="form-label fw-bold m-0 p-0"
                  >Critical Balance</label
                >
                <input
                  [(ngModel)]="itemData.criticalBalance"
                  type="text"
                  class="form-control"
                  id="criticalBalance"
                  name="criticalBalance"
                />
              </div>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="kpOwned"
                [(ngModel)]="itemData.kpOwned"
                (change)="nemen($event)"
                name="kpOwned"
              />
              <label class="form-check-label fw-bold" for="kpOwned">
                Is item owned by the keypartners?
              </label>
            </div>
          </div>
        </div>

        <div class="text-end me-2 mt-3">
          <button
            type="button"
            class="btn btn-dark me-2"
            (click)="handleClose()"
            [disabled]="loading"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-dark" [disabled]="loading">
            <ng-template [ngIf]="loading">
              <div
                class="spinner-border spinner-border-sm text-warning"
                role="status"
              >
                <span class="sr-only"></span>
              </div>
            </ng-template>
            <ng-template [ngIf]="!loading">Save</ng-template>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
