<div class="container">
  <h4 class="h4 h4-responsive pt-4 pb-3">Update Item</h4>

  <form (submit)="saveData($event)">
    <div class="card shadow px-1 mb-3">
      <div class="card-body">
        <div class="card mb-2">
          <div class="card-body">
            <div class="mb-3">
              <label for="date" class="form-label fw-bold m-0 p-0"
                >Key Partners</label
              >
              <select
                class="form-select text-lowercase"
                name="keyPartner"
                [(ngModel)]="itemData.keyPartnerId"
              >
                <option
                  *ngFor="let item of keyPartners"
                  [value]="item._id"
                  class="text-lowercase"
                >
                  {{ item.username + " - " + item.name }}
                </option>
              </select>
            </div>
            <div class="d-flex align-items-center">
              <div class="mb-2 me-2 flex-grow-1">
                <label for="item" class="form-label fw-bold m-0 p-0"
                  >Item Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="item"
                  name="itemName"
                  [(ngModel)]="itemData.desc"
                />
              </div>
              <div class="mb-2">
                <label for="item" class="form-label fw-bold m-0 p-0"
                  >Type Code</label
                >
                <input
                  [(ngModel)]="itemData.code"
                  minlength="2"
                  maxlength="2"
                  type="text"
                  class="form-control"
                  id="typeCode"
                  name="typeCode"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-2">
          <div class="card-body">
            <h6 class="h5 h5-responsive">Variant</h6>

            <div class="mb-2 flex-grow-1">
              <label for="color" class="form-label fw-bold m-0 p-0"
                >Classification</label
              >
              <select
                class="form-select text-lowercase"
                name="classification"
                [(ngModel)]="itemData.classification"
              >
                <option
                  *ngFor="let item of classification"
                  [value]="item._id"
                  class="text-lowercase"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>

            <div class="mb-2">
              <label for="color" class="form-label fw-bold m-0 p-0"
                >Color</label
              >
              <select
                class="form-select text-lowercase"
                name="color"
                [(ngModel)]="itemData.color"
              >
                <option
                  *ngFor="let item of color"
                  [value]="item._id"
                  class="text-lowercase"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="mb-2">
              <label for="size" class="form-label fw-bold m-0 p-0">Sizes</label>
              <select
                class="form-select"
                name="size"
                [(ngModel)]="itemData.size"
              >
                <option
                  *ngFor="let item of size"
                  [value]="item._id"
                  class="text-lowercase"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="mb-2">
              <label for="quantity" class="form-label fw-bold m-0 p-0"
                >Quantity</label
              >
              <input
                [(ngModel)]="itemData.quantity"
                type="text"
                class="form-control"
                id="quantity"
                name="quantity"
              />
            </div>
            <div class="mb-2">
              <label for="price" class="form-label fw-bold m-0 p-0"
                >Price / Unit</label
              >
              <input
                type="text"
                class="form-control"
                id="price"
                name="price"
                [(ngModel)]="itemData.price"
              />
            </div>
          </div>
        </div>

        <div class="text-end me-2 mt-3">
          <button type="submit" class="btn btn-dark px-5 py-2">SAVE</button>
        </div>
      </div>
    </div>
  </form>
</div>
