<div class="container">
  <h1 class="h1 h1-responsive mt-3 pt-3">Create an Account</h1>
  <div class="back">
    <b routerLink="/home" style="cursor: pointer" class="text-muted"
      ><i class="bi bi-arrow-bar-left"></i>&nbsp;Back to Home</b
    >
  </div>
  <div class="col-md-8 offset-md-2">
    <form [formGroup]="registerForm" (submit)="register($event, registerForm)">
      <div class="form-floating my-4 w-100">
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Name:"
          name="name"
        />
        <label for="name">Name:</label>
      </div>
      <!-- <div class="form-floating my-3 w-100">
        <input
          type="text"
          class="form-control"
          formControlName="addr"
          placeholder="Address:"
          name="address"
        />
        <label for="address">Address:</label>
      </div> -->
      <div class="form-floating my-4 w-100">
        <input
          type="text"
          class="form-control"
          formControlName="contact"
          placeholder="Contact Number:"
          name="mobile"
        />
        <label for="mobile">Contact Number:</label>
      </div>
      <div class="form-floating my-4 w-100">
        <input
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Email:"
          name="email"
        />
        <label for="email">Email:</label>
      </div>
      <div class="form-floating my-4 w-100">
        <input
          type="text"
          class="form-control"
          formControlName="company"
          placeholder="Company Name:"
          name="company"
        />
        <label for="company">Company name:</label>
      </div>
      <div>
        Address
        <div class="form-floating my-4 w-100">
          <input
            type="text"
            class="form-control"
            formControlName="bldgNum"
            placeholder="Building / House Number:"
            name="bldgNum"
          />
          <label for="bldgNum">Building / House Number:</label>
        </div>
        <div class="form-floating my-4 w-100">
          <input
            type="text"
            class="form-control"
            formControlName="street"
            placeholder="Street / Village:"
            name="street"
          />
          <label for="street">Street / Village:</label>
        </div>
        <div class="form-floating my-4 w-100">
          <select
            class="form-control"
            formControlName="province"
            placeholder="Province:"
            name="province"
            (change)="handleChangeProvince($event)"
          >
            <option *ngFor="let province of provinces" [value]="province">{{ province }}</option>
          </select>
          <label for="province">Province:</label>
        </div>
        <div class="form-floating my-4 w-100">
          <select
            class="form-control"
            formControlName="city"
            placeholder="City / Municipality:"
            name="city"
            (change)="handleChangeCity($event)"
          >
            <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
          </select>
          <label for="city">City / Municipality:</label>
        </div>
        <div class="form-floating my-4 w-100">
          <select
            class="form-control"
            formControlName="brgy"
            placeholder="Barangay:"
            name="brgy"
          >
            <option *ngFor="let brgy of brgys" [value]="brgy">{{ brgy }}</option>
          </select>
          <label for="brgy">Barangay:</label>
        </div>
        <div class="form-floating my-4 w-100">
          <input
            type="text"
            class="form-control"
            formControlName="zip"
            placeholder="Zip Code:"
            name="zip"
          />
          <label for="zip">Zip Code:</label>
        </div>
      </div>
      <div class="col-md-4 offset-md-4">
        <button class="btn btn-dark" type="submit" [disabled]="loading">
          <ng-template [ngIf]="loading">
            <div
              class="spinner-border spinner-border-sm text-warning"
              role="status"
            >
              <span class="sr-only"></span>
            </div>
          </ng-template>
          <ng-template [ngIf]="!loading">Request User ID</ng-template>
        </button>
      </div>
    </form>
  </div>
</div>
