<div class="container">
  <div class="card px-3 my-3 shadow">
    <div class="card-body">
      <h4>View Item</h4>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Date In:</th>
            <td>{{ handleDate(data?.createdAt) }}</td>
          </tr>
          <tr>
            <th>Description:</th>
            <td>{{ data?.desc }}</td>
          </tr>
          <tr>
            <th>Classification:</th>
            <td>{{ data?.classification?.name }}</td>
          </tr>
          <tr>
            <th>SKU Number:</th>
            <td>{{ data?.sku }}</td>
          </tr>
          <tr>
            <th>Size:</th>
            <td>{{ data?.size.name }}</td>
          </tr>
          <tr>
            <th>Key Partners:</th>
            <td>
              {{ data?.keyPartnerId.name + " - " + data?.keyPartnerId.email }}
            </td>
          </tr>
          <tr>
            <th>Key Partners Owned:</th>
            <td>
              <ng-template [ngIf]="data?.kpOwned">Yes</ng-template>
              <ng-template [ngIf]="!data?.kpOwned">No</ng-template>
            </td>
          </tr>
          <tr>
            <th>Status:</th>
            <td>{{ data?.status }}</td>
          </tr>
          <tr>
            <th>In:</th>
            <td>{{ data?.in }}</td>
          </tr>
          <tr>
            <th>Out:</th>
            <td>{{ data?.out }}</td>
          </tr>
          <tr>
            <th>RTS:</th>
            <td>{{ data?.rts }}</td>
          </tr>
          <tr>
            <th>Defective:</th>
            <td>{{ data?.defective }}</td>
          </tr>
          <tr>
            <th>Current Quantity:</th>
            <td>{{ data?.currentQty }}</td>
          </tr>
          <tr>
            <th>Price / Unit:</th>
            <td>₱ {{ handleMoney(data?.price) }}</td>
          </tr>
          <tr>
            <th>Total Price:</th>
            <td>
              ₱ {{ handleMoney(handleTotal(data?.price, data?.currentQty)) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
