<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">Inventory</h2>

  <div class="row mb-3">
    <div class="col-md-12 text-end">
      <button
        (click)="createNewItem()"
        class="btn btn-dark custom-btn text-white fw-bold px-5 py-1"
        type="button"
      >
        Add New Item
      </button>
    </div>
  </div>
  <div class="d-flex flex-wrap align-items-center mb-2">
    <div class="dropdown me-2 mb-2 mb-lg-0">
      <button
        class="btn btn-dark dropdown-toggle custom-btn px-3 py-1 text-white fw-bold"
        type="button"
        id="dropdownMenuButton2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Actions
      </button>
      <ul
        class="dropdown-menu dropdown-menu-light"
        aria-labelledby="dropdownMenuButton2"
      >
        <li>
          <button class="dropdown-item text-sm" (click)="handleSort('all')">
            View All Items
          </button>
        </li>
        <li>
          <button class="dropdown-item text-sm" (click)="handleSort('non-moving')">
            View All Non Moving Items
          </button>
        </li>
        <li>
          <button class="dropdown-item text-sm" (click)="handleSort('in')">
            View In Items
          </button>
        </li>
        <li>
          <button class="dropdown-item text-sm" (click)="handleSort('out')">
            View Out Items
          </button>
        </li>
        <li>
          <button class="dropdown-item text-sm" (click)="handleSort('balance')">
            View Balances
          </button>
        </li>
        <li>
          <button
            class="dropdown-item text-sm"
            (click)="handleSort('bestseller')"
          >
            View Best Seller Items
          </button>
        </li>
        <!-- <li><button class="dropdown-item text-sm">Print</button></li> -->
        <li>
          <button class="dropdown-item text-sm" (click)="exportInv()">
            Export
          </button>
        </li>
      </ul>
    </div>

    <div class="ms-auto">
      <div class="d-flex align-items-center">
        <div class="me-2 flex-grow-1">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              [(ngModel)]="search"
            />
            <span class="input-group-text"><i class="bi bi-search"></i></span>
          </div>
        </div>
        <div class="me-2">
          <select
            class="form-select"
            aria-label="Default select example"
            name="category"
            [(ngModel)]="category"
          >
            <option value="description">Description</option>
            <option value="email">Key Partners Email</option>
            <option value="sku">SKU Number</option>
          </select>
        </div>
        <button class="btn btn-dark" (click)="handleSearch()">Go</button>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column justify-content-start align-items-start mb-2">
    <div>
      <i class="bi bi-shop"></i> - Owned by EdgeCommerce
    </div>
    <div>
      <i class="bi bi-person-circle"></i> - Key partner's selling items
    </div>
  </div>

  <div class="card shadow p-3">
    <div class="card-body">
      <h4 class="h4 fw-bold">Inventory Items</h4>
      <div class="d-flex align-items-center justify-content-end mb-4">
        <span class="me-2">Action:</span>
        <div class="me-2">
          <select
            class="form-select"
            aria-label="Default select example"
            [(ngModel)]="selectCategory"
          >
            <option value="" selected>--------</option>
            <option value="nonmoving">Mark All Selected As Non Moving</option>
            <option value="moving">Mark All Selected As Moving</option>
          </select>
        </div>
        <button
          class="btn btn-dark"
          (click)="updateManyStatus()"
          [disabled]="loading"
        >
          <ng-template [ngIf]="loading">
            <div
              class="spinner-border spinner-border-sm text-warning"
              role="status"
            >
              <span class="sr-only"></span>
            </div>
          </ng-template>
          <ng-template [ngIf]="!loading"> Go </ng-template>
        </button>
      </div>
      <div class="table-responsive" style="height: 33rem">
        <table class="hoverable table table-hover text-center">
          <thead class="bg-light sticky-top">
            <tr>
              <th class="px-1 text-truncate">
                <div class="py-0 my-0 form-check d-flex justify-content-center">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="check-all"
                    (change)="handleSelectAll($event)"
                  />
                </div>
              </th>
              <th class="text-truncate px-1"></th>
              <th class="text-truncate px-1">Date</th>
              <th class="text-truncate px-1">Description</th>
              <th class="text-truncate px-1">Classification</th>
              <th class="text-truncate px-1">SKU Number</th>
              <th class="text-truncate px-1">Quantity</th>
              <th class="text-truncate px-1">Price/Unit</th>
              <th class="text-truncate px-1">Color</th>
              <th class="text-truncate px-1">Size</th>
              <th class="text-truncate px-1">Key Partners</th>
              <th class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="items.length === 0">
              <tr>
                <td colspan="11">
                  <small class="fw-bold">No Item Record found.</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="items.length !== 0">
              <tr
                *ngFor="let data of items; let i = index"
                [class]="
                  +data.criticalBalance >= +data.currentQty
                    ? 'table-danger'
                    : ''
                "
              >
                <td class="text-center">
                  <div
                    class="py-0 my-0 form-check d-flex justify-content-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input custom-check-me"
                      id="check-{{ i }}"
                      [value]="data._id"
                      (change)="handleSelect($event)"
                    />
                  </div>
                </td>
                <td class="text-truncate px-1">
                  <ng-template [ngIf]="data.kpOwned">
                    <i class="bi bi-person-circle"></i>
                  </ng-template>
                  <ng-template [ngIf]="!data.kpOwned">
                    <i class="bi bi-shop"></i>
                  </ng-template>
                </td>
                <td class="text-truncate px-1">
                  {{ handleDate(data.createdAt) }}
                </td>
                <td class="text-truncate px-1">{{ data.desc }}</td>
                <td class="text-truncate px-1">
                  {{ data.classification.name }}
                </td>
                <td class="text-truncate px-1">{{ data.sku }}</td>
                <td class="text-truncate px-1">
                  {{ data.currentQty }}
                </td>
                <td class="text-truncate px-1">₱ {{ data.price }}</td>
                <td class="text-truncate px-1">{{ data.color?.name }}</td>
                <td class="text-truncate px-1">{{ data.size?.name }}</td>
                <td class="text-truncate px-1">
                  {{
                    data.keyPartnerId?.name + " - " + data.keyPartnerId?.email
                  }}
                </td>

                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="viewItem(data)"
                        >
                          View Item
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="updateItem(data)"
                        >
                          Update Item
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="deleteItem(data._id)"
                        >
                          Delete Item
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <!-- <nav class="d-flex justify-content-end mt-3">
        <ul class="pagination">
          <li class="page-item">
            <button
              type="button"
              class="page-link custom-pagination-label"
              [disabled]="page <= 1"
              (click)="handlePage('previous')"
            >
              Previous
            </button>
          </li>
          <li class="page-item custom-pagination-label">
            <button
              class="page-link custom-pagination-label"
              type="button"
              disabled
            >
              {{ page + " of " + totalpage }}
            </button>
          </li>
          <li class="page-item custom-pagination-label">
            <button
              type="button"
              class="page-link custom-pagination-label"
              [disabled]="page >= totalpage"
              (click)="handlePage('next')"
            >
              Next
            </button>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>
