<div class="container">
  <h1 class="h1 h1-responsive my-4">Settings</h1>

  <div class="class-accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          <h5>CREDENTIALS</h5>
        </button>
      </h2>

      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="card mb-3">
            <div class="card-body px-5 py-4">
              <h5 class="card-title">Change Username</h5>
              <div class="col-12">
                <div class="col-md-12 mb-3 position-relative">
                  <input
                    type="text"
                    class="form-control"
                    id="newUsername"
                    name="newUsername"
                    [(ngModel)]="newUsername"
                  />
                </div>
                <div class="col-md-12 text-end">
                  <button class="btn btn-dark fw-bolder px-5 text-white" (click)="changeUsername()">
                    <ng-template [ngIf]="loading">
                      <div
                        class="spinner-border spinner-border-sm text-warning"
                        role="status"
                      >
                        <span class="sr-only"></span>
                      </div>
                    </ng-template>
                    <ng-template [ngIf]="!loading"> Update </ng-template>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body px-5 py-4">
              <h5 class="card-title">Change Password</h5>
              <div class="col-12">
                <div class="form-group mb-3">
                  <label for="contact" class="fs-6 fw-bold"
                    >Current Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="currentPass"
                    name="currentPass"
                    [(ngModel)]="currentPass"
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="contact" class="fs-6 fw-bold">New Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="newPass"
                    name="newPass"
                    [(ngModel)]="newPass"
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="contact" class="fs-6 fw-bold"
                    >Confirm New Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPass"
                    name="confirmPass"
                    [(ngModel)]="confirmPass"
                  />
                </div>
              </div>
              <div class="col-md-12 text-end">
                <button
                  type="button"
                  class="btn btn-dark"
                  (click)="changePassword()"
                  [disabled]="loading"
                >
                  <ng-template [ngIf]="loading">
                    <div
                      class="spinner-border spinner-border-sm text-warning"
                      role="status"
                    >
                      <span class="sr-only"></span>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="!loading"> Update </ng-template>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---classification-->

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          <h5>CLASSIFICATION</h5>
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="card mb-3">
            <div class="card-body px-5 py-4">
              <form
                (submit)="handleClassificationCreate($event, 'classification')"
                id="classification-form"
              >
                <div class="d-flex align-items-end">
                  <div class="me-2 flex-grow-1">
                    <app-input
                      [inputType]="'text'"
                      [name]="'classification'"
                      [label]="'Classification'"
                      [required]="true"
                    >
                    </app-input>
                  </div>
                  <div class="me-2 flex-grow-1">
                    <app-input
                      [inputType]="'text'"
                      [name]="'classCode'"
                      [label]="'Classification Code'"
                      [required]="true"
                      [max]="2"
                    >
                    </app-input>
                  </div>
                  <div class="d-flex flex-row justify-content-end">
                    <div>
                      <button class="btn btn-dark" [disabled]="loading">
                        <ng-template [ngIf]="loading">
                          <div
                            class="spinner-border spinner-border-sm text-warning"
                            role="status"
                          >
                            <span class="sr-only"></span>
                          </div>
                        </ng-template>
                        <ng-template [ngIf]="!loading">Save</ng-template>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive" style="height: 23rem">
              <table
                class="table table-hover table align-middle text-center position-relative"
              >
                <thead class="bg-light sticky-top">
                  <tr>
                    <th scope="col" class="text-truncate px-1">Description</th>
                    <th scope="col" class="text-truncate px-1">Code</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="border-top-0">
                  <ng-template [ngIf]="classifications.length === 0">
                    <tr>
                      <td colspan="3">
                        <small class="fw-bold">No Code Found.</small>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template [ngIf]="classifications.length !== 0">
                    <tr *ngFor="let data of classifications">
                      <td class="text-truncate px-1">
                        {{ data.name }}
                      </td>
                      <td class="text-truncate px-1">{{ data.code }}</td>
                      <td>
                        <div class="dropdown">
                          <button
                            type="button"
                            id="dropdownMenuButton2"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            class="btn btn-light custom-btn"
                          >
                            <i class="bi bi-three-dots-vertical"></i>
                          </button>
                          <ul class="dropdown-menu">
                            <li>
                              <button
                                class="btn dropdown-item text-sm"
                                (click)="handleClassificationUpdate(data)"
                              >
                                Update
                              </button>
                            </li>
                            <li>
                              <button
                                class="btn dropdown-item text-sm"
                                (click)="
                                  handleClassificationDelete(
                                    data._id,
                                    data.type
                                  )
                                "
                              >
                                Delete
                              </button>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
              <!-- <nav class="d-flex justify-content-end mt-4">
                <ul class="pagination">
                  <li class="page-item">
                    <button
                      type="button"
                      class="page-link custom-pagination-label"
                      [disabled]="clPage <= 1"
                      (click)="handlePage('previous', 'classification')"
                    >
                      Previous
                    </button>
                  </li>
                  <li class="page-item custom-pagination-label">
                    <button
                      class="page-link custom-pagination-label"
                      type="button"
                      disabled
                    >
                      {{ clPage + " of " + clTotalpage }}
                    </button>
                  </li>
                  <li class="page-item custom-pagination-label">
                    <button
                      type="button"
                      class="page-link custom-pagination-label"
                      [disabled]="clPage >= clTotalpage"
                      (click)="handlePage('next', 'classification')"
                    >
                      Next
                    </button>
                  </li>
                </ul>
              </nav> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---color-->

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          <h5>COLOR</h5>
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="card mb-3">
            <div class="card-body px-5 py-4">
              <form
                (submit)="handleClassificationCreate($event, 'color')"
                id="color-form"
              >
                <div class="d-flex align-items-end">
                  <div class="me-2 flex-grow-1">
                    <app-input
                      [inputType]="'text'"
                      [name]="'classification'"
                      [label]="'Color'"
                      [required]="true"
                    >
                    </app-input>
                  </div>
                  <div class="me-2 flex-grow-1">
                    <app-input
                      [inputType]="'text'"
                      [name]="'classCode'"
                      [label]="'Color Code'"
                      [required]="true"
                      [max]="3"
                    ></app-input>
                  </div>
                  <div>
                    <button class="btn btn-dark" [disabled]="loading">
                      <ng-template [ngIf]="loading">
                        <div
                          class="spinner-border spinner-border-sm text-warning"
                          role="status"
                        >
                          <span class="sr-only"></span>
                        </div>
                      </ng-template>
                      <ng-template [ngIf]="!loading">Save</ng-template>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive" style="height: 23rem">
              <table class="table table-hover table align-middle text-center">
                <thead class="bg-light sticky-top">
                  <tr>
                    <th scope="col" class="text-truncate px-1">Color name</th>
                    <th scope="col" class="text-truncate px-1">Code</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="border-top-0">
                  <ng-template [ngIf]="colors.length === 0">
                    <tr>
                      <td colspan="3">
                        <small class="fw-bold">No Code Found.</small>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template [ngIf]="colors.length !== 0">
                    <tr *ngFor="let data of colors">
                      <td class="text-truncate px-1">{{ data.name }}</td>
                      <td class="text-truncate px-1">{{ data.code }}</td>
                      <td>
                        <div class="dropdown">
                          <button
                            type="button"
                            id="dropdownMenuButton2"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            class="btn btn-light custom-btn"
                          >
                            <i class="bi bi-three-dots-vertical"></i>
                          </button>
                          <ul class="dropdown-menu">
                            <li>
                              <button
                                class="dropdown-item text-sm"
                                (click)="handleClassificationUpdate(data)"
                              >
                                Update
                              </button>
                            </li>
                            <li>
                              <button
                                class="dropdown-item text-sm"
                                (click)="
                                  handleClassificationDelete(
                                    data._id,
                                    data.type
                                  )
                                "
                              >
                                Delete
                              </button>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
              <!-- <nav class="d-flex justify-content-end mt-4">
                <ul class="pagination">
                  <li class="page-item">
                    <button
                      type="button"
                      class="page-link custom-pagination-label"
                      [disabled]="cPage <= 1"
                      (click)="handlePage('previous', 'color')"
                    >
                      Previous
                    </button>
                  </li>
                  <li class="page-item custom-pagination-label">
                    <button
                      class="page-link custom-pagination-label"
                      type="button"
                      disabled
                    >
                      {{ cPage + " of " + cTotalpage }}
                    </button>
                  </li>
                  <li class="page-item custom-pagination-label">
                    <button
                      type="button"
                      class="page-link custom-pagination-label"
                      [disabled]="cPage >= cTotalpage"
                      (click)="handlePage('next', 'color')"
                    >
                      Next
                    </button>
                  </li>
                </ul>
              </nav> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---size-->

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFourth">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFourth"
          aria-expanded="false"
          aria-controls="collapseFourth"
        >
          <h5>SIZE</h5>
        </button>
      </h2>
      <div
        id="collapseFourth"
        class="accordion-collapse collapse"
        aria-labelledby="headingFourth"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="card mb-3">
            <div class="card-body px-5 py-4">
              <form
                (submit)="handleClassificationCreate($event, 'size')"
                id="size-form"
              >
                <div class="d-flex align-items-end">
                  <div class="me-2 flex-grow-1">
                    <app-input
                      [inputType]="'text'"
                      [name]="'classification'"
                      [label]="'Size'"
                      [required]="true"
                    >
                    </app-input>
                  </div>
                  <div class="me-2 flex-grow-1">
                    <app-input
                      [inputType]="'text'"
                      [name]="'classCode'"
                      [label]="'Size Code'"
                      [required]="true"
                      [max]="3"
                    >
                    </app-input>
                  </div>
                  <div class="d-flex flex-row justify-content-end">
                    <div>
                      <button class="btn btn-dark" [disabled]="loading">
                        <ng-template [ngIf]="loading">
                          <div
                            class="spinner-border spinner-border-sm text-warning"
                            role="status"
                          >
                            <span class="sr-only"></span>
                          </div>
                        </ng-template>
                        <ng-template [ngIf]="!loading">Save</ng-template>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive" style="height: 23rem">
              <table
                class="table table-hover table align-middle text-center position-relative"
              >
                <thead class="bg-light sticky-top">
                  <tr>
                    <th scope="col" class="text-truncate px-1">Size name</th>
                    <th scope="col" class="text-truncate px-1">Code</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="border-top-0">
                  <ng-template [ngIf]="sizes.length === 0">
                    <tr>
                      <td colspan="3">
                        <small class="fw-bold">No Code Found.</small>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template [ngIf]="sizes.length !== 0">
                    <tr *ngFor="let data of sizes">
                      <td class="text-truncate px-1">{{ data.name }}</td>
                      <td class="text-truncate px-1">{{ data.code }}</td>
                      <td>
                        <div class="dropdown">
                          <button
                            type="button"
                            id="dropdownMenuButton2"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            class="btn btn-light custom-btn"
                          >
                            <i class="bi bi-three-dots-vertical"></i>
                          </button>
                          <ul class="dropdown-menu">
                            <li>
                              <button
                                class="dropdown-item text-sm"
                                (click)="handleClassificationUpdate(data)"
                              >
                                Update
                              </button>
                            </li>
                            <li>
                              <button
                                class="dropdown-item text-sm"
                                (click)="
                                  handleClassificationDelete(
                                    data._id,
                                    data.type
                                  )
                                "
                              >
                                Delete
                              </button>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
              <!-- <nav class="d-flex justify-content-end mt-4">
                <ul class="pagination">
                  <li class="page-item">
                    <button
                      type="button"
                      class="page-link custom-pagination-label"
                      [disabled]="sPage <= 1"
                      (click)="handlePage('previous', 'size')"
                    >
                      Previous
                    </button>
                  </li>
                  <li class="page-item custom-pagination-label">
                    <button
                      class="page-link custom-pagination-label"
                      type="button"
                      disabled
                    >
                      {{ sPage + " of " + sTotalpage }}
                    </button>
                  </li>
                  <li class="page-item custom-pagination-label">
                    <button
                      type="button"
                      class="page-link custom-pagination-label"
                      [disabled]="sPage >= sTotalpage"
                      (click)="handlePage('next', 'size')"
                    >
                      Next
                    </button>
                  </li>
                </ul>
              </nav> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FLASH -->

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFourth">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFifth"
          aria-expanded="false"
          aria-controls="collapseFifth"
        >
          <h5>FLASH AVAILABLE LOCATIONS</h5>
        </button>
      </h2>
      <div
        id="collapseFifth"
        class="accordion-collapse collapse"
        aria-labelledby="headingFourth"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="card shadow px-3">
            <div class="card-body">
              <div class="form-group">
                <label for="flash-data" class="fw-bold fs-5"
                  >Flash Available Locations</label
                ><br />
                <input
                  type="file"
                  class="form-control-file"
                  id="flash-data"
                  accept=".csv"
                  (change)="processTempFile($event, 'flash')"
                />
                <button class="btn btn-primary" (click)="uploadTemp('flash')">
                  Upload
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JNT -->

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFourth">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSixth"
          aria-expanded="false"
          aria-controls="collapseSixth"
        >
          <h5>JNT AVAILABLE LOCATIONS</h5>
        </button>
      </h2>
      <div
        id="collapseSixth"
        class="accordion-collapse collapse"
        aria-labelledby="headingFourth"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="card shadow px-3">
            <div class="card-body">
              <div class="form-group">
                <label for="flash-data" class="fw-bold fs-5"
                  >JNT Available Locations</label
                ><br />
                <input
                  type="file"
                  class="form-control-file"
                  id="flash-data"
                  accept=".csv"
                  (change)="processTempFile($event, 'jnt')"
                />
                <button class="btn btn-primary" (click)="uploadTemp('jnt')">
                  Upload
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
