.custom-eye-password {
  position: absolute;
  right: 1.25rem;
  top: 1.75rem;
  color: gray;
  font-weight: bolder;
}

.form-control {
  width: 100%;
}

.custom-pagination-label {
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
}

.custom-pagination-label {
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
}

.text-sm {
  font-size: 0.8rem;
  font-weight: 500;
}

.custom-btn {
  padding: 0;
}
