<div class="container p-4">
  <h4 class="h4 h4-responsive">Set Password</h4>
  <div class="card shadow px-3">
    <div class="card-body">
      <div class="d-flex align-items-end mb-3">
        <div class="form-group me-2 flex-grow-1">
          <label for="name" class="fs-6 fw-bold">Assign Password</label>
          <input
            class="form-control"
            type="text"
            name="password"
            [(ngModel)]="password"
            readonly
          />
        </div>
        <button
          class="btn btn-dark me-2"
          data-tool-tip="Generate Random Password"
          (click)="randomPassword(10)"
        >
          <i class="bi bi-shuffle"></i>
        </button>
      </div>
      <div class="text-end">
        <button class="btn btn-dark me-2" (click)="setPassword()">
          Update
        </button>
        <button class="btn btn-dark" (click)="handleClose()">Cancel</button>
      </div>
    </div>
  </div>
</div>
