<div class="container p-4">
  <h4 class="h4 h4-responsive">Update Details</h4>
  <div class="card shadow px-3">
    <div class="card-body">
      <div class="mb-3">
        <div class="form-group me-2 flex-grow-1 mb-3">
          <label for="name" class="fs-6 fw-bold mb-1">Name:</label>
          <input class="form-control" type="text" name="name" />
        </div>
        <div class="form-group me-2 flex-grow-1 mb-3">
          <label for="name" class="fs-6 fw-bold mb-1">Address:</label>
          <input class="form-control" type="text" name="address" />
        </div>
        <div class="form-group me-2 flex-grow-1 mb-3">
          <label for="name" class="fs-6 fw-bold mb-1">Contact Number:</label>
          <input class="form-control" type="text" name="contact" />
        </div>
        <div class="form-group me-2 flex-grow-1 mb-3">
          <label for="name" class="fs-6 fw-bold mb-1">Email:</label>
          <input class="form-control" type="text" name="email" />
        </div>
        <div class="form-group me-2 flex-grow-1 mb-3">
          <label for="name" class="fs-6 fw-bold mb-1">Company:</label>
          <input class="form-control" type="text" name="company" />
        </div>
      </div>
      <button class="btn btn-dark">Update</button>
    </div>
  </div>
</div>
