<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">Quotations List</h2>

  <div class="d-flex mb-3">
    <div class="col-md-6 me-2">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Quotation Number"
        />
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
    </div>
    <button class="btn btn-dark">Go</button>
  </div>

  <div class="card shadow p-3">
    <div class="card-body">
      <div class="table-responsive" style="height: 23rem">
        <table class="hoverable table table-hover text-center">
          <thead class="bg-light sticky-top">
            <tr>
              <th class="text-truncate px-1">Quotation Number</th>
              <th class="text-truncate px-1">Name</th>
              <th class="text-truncate px-1">Company Name</th>
              <th class="text-truncate px-1">Date</th>
              <th class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="quoteList.length === 0">
              <tr>
                <td colspan="5">
                  <small class="fw-bold">No Record Found.</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="quoteList.length !== 0">
              <tr *ngFor="let i of quoteList">
                <td class="text-truncate px-1">{{ i.quotationId }}</td>
                <td class="text-truncate px-1">{{ i.keyPartnerId.name }}</td>
                <td class="text-truncate px-1">{{ i.keyPartnerId.company }}</td>
                <td class="text-truncate px-1">
                  {{ i.createdAt | customDate: "MM/DD/YYYY, hh:mm:ss a" }}
                </td>
                <td>
                  <button
                    class="btn btn-dark text-white fw-bolder py-0"
                    (click)="viewQuotation(i)"
                    data-tool-tip="View Quotation"
                  >
                    <i class="bi bi-door-open"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <!-- <nav class="d-flex justify-content-end mt-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link custom-pagination-label" href="#">Previous</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">1</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>
