<div class="container-fluid">
  <h4 class="h4 h4-responsive my-3">Create New Bundled Item</h4>
  <div class="card shadow px-3 mb-3">
    <div class="card-body">
      <div class="form-group mb-3">
        <label for="name" class="fs-6 fw-bold">Bundle Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="data.name"
        />
      </div>
      <div class="d-flex align-items-end flex-wrap mb-3">
        <div class="form-group me-0 me-lg-2 flex-grow-1">
          <label for="items" class="fs-6 fw-bold">Select Items</label>
          <select
            class="form-select"
            name="items"
            id="items"
            [(ngModel)]="item.id"
          >
            <option value="" selected>Choose Item...</option>
            <option *ngFor="let data of items" [value]="data._id">
              {{ data.desc }}
            </option>
          </select>
        </div>
        <div class="form-group flex-grow-1 me-2">
          <label for="name" class="fs-6 fw-bold">Quantity</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="item.quantity"
          />
        </div>
        <div class="mt-2 mt-md-0">
          <button
            type="button"
            class="btn btn-dark"
            (click)="handleAddedItem()"
          >
            Add Item
          </button>
        </div>
      </div>
      <div class="text-end">
        <small class="fw-bold">*Maximum of 7 Items per Bundle</small>
      </div>
      <div class="table-responsive">
        <table class="table table-hover text-center position-relative">
          <thead class="bg-light">
            <tr>
              <th scope="col" class="text-truncate px-1">Description</th>
              <th scope="col" class="text-truncate px-1">Quantity</th>
              <th scope="col" class="text-truncate px-1">Price</th>
              <th scope="col" class="text-truncate px-1">Action</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="data.items.length === 0">
              <tr>
                <td colspan="4">No Selected Item.</td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="data.items.length !== 0">
              <tr *ngFor="let data of data.items; let i = index">
                <td class="text-truncate px-1 align-middle">{{ data.desc }}</td>
                <td class="text-truncate px-1 align-middle">
                  {{ data.quantity }}
                </td>
                <td class="text-truncate px-1 align-middle">
                  {{ data.price }}
                </td>
                <td>
                  <button
                    class="btn btn-dark"
                    data-tool-tip="Remove Item"
                    (click)="removeItem(i)"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
        <div class="col text-end">
          <button
            (click)="handleClose()"
            class="btn btn-dark me-2"
            [disabled]="loading"
          >
            Cancel
          </button>
          <button
            (click)="saveData()"
            class="btn btn-dark"
            [disabled]="loading"
          >
            <ng-template [ngIf]="loading">
              <div
                class="spinner-border spinner-border-sm text-warning"
                role="status"
              >
                <span class="sr-only"></span>
              </div>
            </ng-template>
            <ng-template [ngIf]="!loading">Save</ng-template>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
