<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img src="../../../assets/logo.png" />
    <h3 class="h3-responsive mt-3">Password Reset</h3>
    <ng-template [ngIf]="tokenStat === 'verify'">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </ng-template>
    <ng-template [ngIf]="tokenStat === 'verify-error'">
      <span>It seems like your password reset link is expired. Please request another password reset link <a routerLink="/auth/forgot-password">here</a>.</span>
    </ng-template>
    <ng-template [ngIf]="tokenStat === 'verify-success'">
      <form class="d-flex flex-column justify-content-center align-items-center" [formGroup]="passwordForm" (submit)="resetPassword($event, passwordForm)">
        <div class="mb-2">
          <label for="password" class="form-lable">Password:</label>
          <input class="form-control" type="password" formControlName="password" name="password" required/>
        </div>
        <div class="mb-2">
          <label for="authpass" class="form-lable">Confirm Password:</label>
          <input class="form-control" type="password" formControlName="authpass" name="authpass" required/>
        </div>
        <button class="btn btn-dark" type="submit">Save</button>
      </form>
    </ng-template>
    <ng-template [ngIf]="tokenStat === 'reset-success'">
      <span>Password updated successfully.</span>
    </ng-template>
    <ng-template [ngIf]="tokenStat === 'reset-error'">
      <span>An internal server error occured. Please refresh this page and try again.</span>
    </ng-template>
  </div>
</div>