<div class="container">
  <h4 class="h4 h4-responsive pt-4 pb-3">Create New Booking</h4>
  <div class="card shadow px-3 mb-3">
    <div class="card-body">
      <div class="mb-3">
        <label for="date" class="form-label fw-bold m-0 p-0">Date</label>
        <input type="date" class="form-control" id="date" />
      </div>
      <div class="mb-3">
        <label for="item" class="form-label fw-bold m-0 p-0">Item Name</label>
        <input type="text" class="form-control" id="item" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label fw-bold m-0 p-0"
          >Description</label
        >
        <input type="text" class="form-control" id="description" />
      </div>
      <h6 class="h5 h5-responsive">Variant</h6>
      <div class="mb-3">
        <label for="quantity" class="form-label fw-bold m-0 p-0"
          >Quantity</label
        >
        <input type="text" class="form-control" id="quantity" />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label fw-bold m-0 p-0">Price</label>
        <input type="text" class="form-control" id="price" />
      </div>
      <div class="mb-3">
        <label for="color" class="form-label fw-bold m-0 p-0">Color</label>
        <input type="text" class="form-control" id="color" />
      </div>
      <div class="mb-3">
        <label for="size" class="form-label fw-bold m-0 p-0">Sizes</label>
        <div class="d-flex align-items-start">
          <input type="text" class="form-control me-2" id="size-1" />
          <input type="text" class="form-control me-2" id="size-2" />
          <input type="text" class="form-control me-2" id="size-3" />
          <input type="text" class="form-control me-2" id="size-4" />
        </div>
      </div>
      <div class="text-end me-2">
        <button class="btn btn-dark px-5 py-2">SAVE</button>
      </div>
    </div>
  </div>
</div>
