<div class="container">
  <h4 class="h4 h4-responsive pt-4 pb-3">Create New Item</h4>

  <div class="card shadow px-1 mb-3">
    <div class="card-body">
      <div class="card mb-2">
        <div class="card-body">
          <div class="mb-3">
            <label for="date" class="form-label fw-bold m-0 p-0"
              >Key Partners</label
            >
            <input type="text" class="form-control" id="date" />
          </div>
          <div class="d-flex align-items-center">
            <div class="mb-2 me-2 flex-grow-1">
              <label for="item" class="form-label fw-bold m-0 p-0"
                >Item Name</label
              >
              <input type="text" class="form-control" id="item" />
            </div>
            <div class="mb-2">
              <label for="item" class="form-label fw-bold m-0 p-0"
                >Type Code</label
              >
              <input type="text" class="form-control" id="item" />
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-body">
          <h6 class="h5 h5-responsive">Variant</h6>

          <div class="mb-2 me-2 flex-grow-1">
            <label for="color" class="form-label fw-bold m-0 p-0"
              >Classification</label
            >
            <select class="form-select">
              <option>AP - APPLIANCES</option>
              <option>AU - AUTOMOBILE</option>
            </select>
          </div>

          <div class="mb-2">
            <label for="color" class="form-label fw-bold m-0 p-0">Color</label>
            <select class="form-select">
              <option>001 - Blue</option>
              <option>002 - Red</option>
            </select>
          </div>
          <div class="mb-2">
            <label for="size" class="form-label fw-bold m-0 p-0">Sizes</label>
            <select class="form-select">
              <option>001 - XL</option>
              <option>002 - XXL</option>
            </select>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="mb-2">
            <label for="quantity" class="form-label fw-bold m-0 p-0"
              >Quantity</label
            >
            <input type="text" class="form-control" id="quantity" />
          </div>
          <div class="mb-2">
            <label for="price" class="form-label fw-bold m-0 p-0"
              >Price / Unit</label
            >
            <input type="text" class="form-control" id="price" />
          </div>
        </div>
      </div>

      <div class="text-end me-2 mt-3">
        <button class="btn btn-dark px-5 py-2">SAVE</button>
      </div>
    </div>
  </div>
</div>
