<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">Purchase Order</h2>
  <div class="mt-4">
    <div class="col-md-6 my-3">
      <div class="col-md-6 d-flex align-items-center">
        <div class="input-group me-2 flex-grow-1">
          <input
            type="text"
            class="form-control"
            placeholder="Search by Purchase Order Number"
          />
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
        <button class="btn btn-dark">Go</button>
      </div>
    </div>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="hoverable table table-hover text-center">
          <thead>
            <tr>
              <th class="text-truncate px-1">Purchase Order Number</th>
              <th class="text-truncate px-1">Buyer</th>
              <th class="text-truncate px-1">Date</th>
              <th class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-truncate px-1">QUOTE-10258</td>
              <td class="text-truncate px-1">Juan Dela Cruz</td>
              <td class="text-truncate px-1">7/24/2022, 8:59:17 PM</td>
              <td>
                <button
                  class="btn btn-dark text-white fw-bolder py-0"
                  (click)="viewPurchaseOrder()"
                  data-tool-tip="View Purchase Order"
                >
                  <i class="bi bi-door-open"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <nav class="d-flex justify-content-end my-4">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link custom-pagination-label" href="#">Previous</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">1</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
