table tbody th {
  font-weight: 100;
  font-style: italic;
  text-align: left;
  position: relative;
}
table thead th:nth-child(2) {
  position: sticky;
  left: 0;
  z-index: 2;
}
table tbody td:nth-child(2) {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
}
caption {
  text-align: left;
  padding: 0.25rem;
  position: sticky;
  left: 0;
}

[role="region"][aria-labelledby][tabindex] {
  width: 100%;
  max-height: 98vh;
  overflow: auto;
}

[role="region"][aria-labelledby][tabindex]:focus {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  outline: 0;
}

.custom {
  &-search-icon {
    position: absolute;
    top: 0.45rem;
    right: 0.8rem;
  }
}

.custom-pagination-label {
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
}

.text-sm {
  font-size: 0.8rem;
  font-weight: 500;
}

.custom-btn {
  padding: 0;
}
