<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">My Inventory</h2>
  <div class="col text-end">
    <button class="btn btn-dark fw-bold" (click)="createBundleItem()">
      <i class="bi bi-plus"></i> Create Bundled Item
    </button>
  </div>

  <div class="d-flex align-items-center">
    <div class="dropdown col-3">
      <button
        class="btn btn-dark dropdown-toggle custom-btn px-5 py-1 text-white fw-bold"
        type="button"
        id="dropdownMenuButton2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        View Actions
      </button>
      <ul
        class="dropdown-menu dropdown-menu-light"
        aria-labelledby="dropdownMenuButton2"
      >
        <li>
          <button class="dropdown-item text-sm" (click)="handleSort('all')">
            View All Items
          </button>
        </li>
        <li>
          <button class="dropdown-item text-sm" (click)="handleSort('non-moving')">
            View All Non Moving Items
          </button>
        </li>
        <li>
          <button class="dropdown-item text-sm" (click)="handleSort('moving')">
            View All Moving Items
          </button>
        </li>
        <li>
          <button class="dropdown-item text-sm" (click)="handleSort('in')">
            View In Items
          </button>
        </li>
        <li>
          <button class="dropdown-item text-sm" (click)="handleSort('out')">
            View Out Items
          </button>
        </li>
        <li>
          <button class="dropdown-item text-sm" (click)="handleSort('balance')">
            View Balances
          </button>
        </li>
        <li>
          <button
            class="dropdown-item text-sm"
            (click)="handleSort('bestseller')"
          >
            View Best Seller Items
          </button>
        </li>
        <!-- <li><button class="dropdown-item text-sm">Print</button></li> -->
        <li><button class="dropdown-item text-sm" (click)="exportInv()">Export</button></li>
      </ul>
    </div>
  </div>
  <div class="d-flex my-3">
    <div class="col-md-6 position-relative d-flex align-items-center">
      <div class="input-group me-2">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Description"
          [(ngModel)]="search"
        />
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
    </div>
    <button class="btn btn-dark" (click)="handleSearch()">Go</button>
  </div>

  <div class="d-flex flex-column justify-content-start align-items-start mb-2">
    <div>
      <i class="bi bi-shop"></i> - Owned by EdgeCommerce
    </div>
    <div>
      <i class="bi bi-person-circle"></i> - Key partner's selling items
    </div>
  </div>

  <div class="card shadow p-3">
    <div class="card-body">
      <ngb-pagination
        class="d-flex justify-content-center"
        (pageChange)="handlePageChangeInventory($event)"
        [maxSize]="7"
        [(page)]="page"
        [pageSize]="limit"
        [collectionSize]="totalItems"
        ></ngb-pagination>
      <div *ngIf="selectedItems.length > 0">
        <span>Selected items: <b>{{ selectedItems.length }}</b></span>
      </div>
      <div class="table-responsive" style="height: 23rem">
        <table class="hoverable table table-hover text-center">
          <thead class="bg-light sticky-top">
            <tr>
              <th class="text-truncate px-1">Date</th>
              <th class="text-truncate px-1">Date</th>
              <th class="text-truncate px-1">Description</th>
              <th class="text-truncate px-1">Classification</th>
              <th class="text-truncate px-1">Current Quantity</th>
              <th class="text-truncate px-1">Price/Unit</th>
              <th class="text-truncate px-1">Color</th>
              <th class="text-truncate px-1">Sizes</th>
              <th class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="items.length === 0">
              <tr>
                <td colspan="8">
                  <small class="fw-bold">No Item Record found.</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="items.length !== 0">
              <tr *ngFor="let data of items" [class]="(+data.criticalBalance >= +data.currentQty) ? 'table-danger' : ''">
                <td class="text-truncate px-1">
                  <ng-template [ngIf]="data.kpOwned">
                    <i class="bi bi-person-circle"></i>
                  </ng-template>
                  <ng-template [ngIf]="!data.kpOwned">
                    <i class="bi bi-shop"></i>
                  </ng-template>
                </td>
                <td class="text-truncate px-1">
                  {{ handleDate(data.createdAt) }}
                </td>
                <td class="text-truncate px-1">{{ data.desc }}</td>
                <td class="text-truncate px-1">
                  {{ data.classification?.name }}
                </td>
                <td class="text-truncate px-1">{{ data.currentQty }}</td>
                <td class="text-truncate px-1">₱ {{ data.price }}</td>
                <td class="text-truncate px-1">{{ data.color.name }}</td>
                <td class="text-truncate px-1">{{ data.size.name }}</td>
                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="viewItem(data)"
                        >
                          View Item
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <br/>
      <div class="d-flex flex-row align-items-baseline">

      </div>
    </div>
  </div>

  <div class="d-flex my-3">
    <div class="col-md-6 position-relative d-flex align-items-center">
      <div class="input-group me-2">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Description"
          [(ngModel)]="bSearch"
        />
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
    </div>
    <button class="btn btn-dark" (click)="handleSearchBundle()">Go</button>
  </div>

  <div class="card shadow p-3">
    <div class="card-body">
      <div class="table-responsive" style="height: 23rem">
        <table class="table table-hover text-center">
          <thead class="bg-light sticky-top">
            <tr>
              <th class="text-truncate px-1">Bundle Name</th>
              <th class="text-truncate px-1">Total Price</th>
              <th class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="bundles.length === 0">
              <tr>
                <td colspan="3">
                  <small class="fw-bold">No Bundle Record found.</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="bundles.length !== 0">
              <tr *ngFor="let data of bundles">
                <td class="text-truncate px-1 align-middle">{{ data.name }}</td>
                <td class="text-truncate px-1 align-middle">
                  ₱ {{ handleAmount(data.items) }}
                </td>
                <td class="align-middle">
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="viewBundleItem(data)"
                        >
                          View Bundle
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="updateBundleItem(data)"
                        >
                          Update Bundle
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="deleteBundle(data._id)"
                        >
                          Delete Bundle
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
