<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">My Inventory</h2>
  <div class="col text-end">
    <button class="btn btn-dark fw-bold" (click)="createBundleItem()">
      <i class="bi bi-plus"></i> Create Bundled Item
    </button>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <div class="dropdown col-3">
        <button
          class="btn btn-dark dropdown-toggle custom-btn w-100 text-white fw-bold py-1"
          type="button"
          id="dropdownMenuButton2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Actions
        </button>
        <ul
          class="dropdown-menu dropdown-menu-light"
          aria-labelledby="dropdownMenuButton2"
        >
          <li><button class="dropdown-item text-sm">View All Items</button></li>
          <li><button class="dropdown-item text-sm">View In Items</button></li>
          <li><button class="dropdown-item text-sm">View Out Items</button></li>
          <li><button class="dropdown-item text-sm">View Balances</button></li>
          <li>
            <button class="dropdown-item text-sm">
              View Best Seller Items
            </button>
          </li>
          <li><button class="dropdown-item text-sm">Print</button></li>
          <li><button class="dropdown-item text-sm">Export</button></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="row ms-1">
        <div class="position-relative d-flex align-items-center">
          <div class="input-group me-2">
            <input
              type="text"
              class="form-control"
              placeholder="Search by Description"
            />
            <span class="input-group-text"><i class="bi bi-search"></i></span>
          </div>
          <button class="btn btn-dark">Go</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow p-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="hoverable table table-hover text-center">
          <thead>
            <tr>
              <th class="text-truncate px-1">Date</th>
              <th class="text-truncate px-1">Item Name</th>
              <th class="text-truncate px-1">Description</th>
              <th class="text-truncate px-1">Quantity</th>
              <th class="text-truncate px-1">Price/Unit</th>
              <th class="text-truncate px-1">Color</th>
              <th class="text-truncate px-1">Sizes</th>
              <th class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of tableData">
              <td class="text-truncate px-1">7/24/2022, 8:59:17 PM</td>
              <td class="text-truncate px-1">Basin</td>
              <td class="text-truncate px-1">Appliances</td>
              <td class="text-truncate px-1">1</td>
              <td class="text-truncate px-1">₱ 180.00</td>
              <td class="text-truncate px-1">Black</td>
              <td class="text-truncate px-1">sm</td>
              <td>
                <div class="dropdown">
                  <button
                    class="btn btn-light custom-btn"
                    type="button"
                    id="dropdownMenuButton2"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-light"
                    aria-labelledby="dropdownMenuButton2"
                  >
                    <li>
                      <button class="dropdown-item text-sm">View Item</button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <nav class="d-flex justify-content-end my-4">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link custom-pagination-label" href="#">Previous</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">1</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">Next</a>
      </li>
    </ul>
  </nav>

  <div class="col-md-6 my-3">
    <div class="position-relative d-flex align-items-center">
      <div class="input-group me-2">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Bundle Name"
        />
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
      <button class="btn btn-dark">Go</button>
    </div>
  </div>

  <div class="card shadow p-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th class="text-truncate px-1">Bundle Name</th>
              <th class="text-truncate px-1" colspan="4">Items</th>
              <th class="text-truncate px-1">Total Price</th>
              <th class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of tableData">
              <td class="text-truncate px-1 align-middle">Writing Bundle</td>
              <td class="text-truncate px-1 align-middle" colspan="4">
                <table class="table table-striped table-borderless text-sm">
                  <thead>
                    <tr>
                      <th class="text-truncate px-1">Name</th>
                      <th class="text-truncate px-1">Quantity</th>
                      <th class="text-truncate px-1">Price / Unit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-truncate px-1">Writing Pad</td>
                      <td class="text-truncate px-1">2</td>
                      <td class="text-truncate px-1">50</td>
                    </tr>
                    <tr>
                      <td class="text-truncate px-1">Mongo Pencil 2</td>
                      <td class="text-truncate px-1">5</td>
                      <td class="text-truncate px-1">10</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td class="text-truncate px-1 align-middle">150</td>
              <td class="align-middle">
                <div class="dropdown">
                  <button
                    class="btn btn-light custom-btn"
                    type="button"
                    id="dropdownMenuButton2"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-light"
                    aria-labelledby="dropdownMenuButton2"
                  >
                    <li>
                      <button class="dropdown-item text-sm">View Item</button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <nav class="d-flex justify-content-end my-4">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link custom-pagination-label" href="#">Previous</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">1</a>
      </li>
      <li class="page-item custom-pagination-label">
        <a class="page-link custom-pagination-label" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
