<div class="container-fluid px-3">
  <div class="row py-3">
    <div class="col-md-3 mb-2 mb-md-0">
      <div class="card shadow py-1 bg-warning text-white border-0">
        <div class="card-body">
          <h2 class="h2 fw-bold">
            <i class="bi bi-journals"></i> Booking List
          </h2>
          <div class="text-end">
            <a
              routerLink="/admin/home/booking-list"
              class="btn btn-transparent text-white py-0 fw-bold fs-2"
              ><i class="bi bi-arrow-right-circle"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-2 mb-md-0">
      <div class="card shadow py-1 bg-info text-white border-0">
        <div class="card-body">
          <h2 class="h2 fw-bold"><i class="bi bi-card-list"></i> Inquiries</h2>
          <div class="text-end">
            <a
              routerLink="/admin/home/inquiry-list"
              class="btn btn-transparent text-white py-0 fw-bold fs-2"
              ><i class="bi bi-arrow-right-circle"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-2 mb-md-0">
      <div class="card shadow py-1 bg-danger text-white border-0">
        <div class="card-body">
          <h2 class="h2 fw-bold">
            <i class="bi bi-file-earmark-text"></i> Quotations
          </h2>
          <div class="text-end">
            <a
              routerLink="/admin/home/quotation-list"
              class="btn btn-transparent text-white py-0 fw-bold fs-2"
              ><i class="bi bi-arrow-right-circle"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-2 mb-md-0">
      <div class="card shadow py-1 bg-success text-white border-0">
        <div class="card-body">
          <h2 class="h2 fw-bold"><i class="bi bi-people"></i> Key Partners</h2>
          <div class="text-end">
            <a
              routerLink="/admin/home/key-partners"
              class="btn btn-transparent text-white py-0 fw-bold fs-2"
              ><i class="bi bi-arrow-right-circle"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col">
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
</div>
