<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div
    class="custom-navigation-sidebar"
    id="sidebar-wrapper"
    [ngClass]="status ? 'hide' : 'show'"
  >
    <div class="text-center my-4">
      <img src="/assets/logo.png" class="img-fluid w-50" />
    </div>
    <ul class="nav nav-pills flex-column mb-auto dark-text">
      <li class="navbar-item" *ngFor="let link of links">
        <a
          class="nav-link custom-sidenav-label d-flex align-items-center"
          routerLink="{{ link.path }}"
          routerLinkActive="custom-sidenav-active"
        >
          <i class="{{ link.icon }} custom-sidenav-icon"></i>
          <span class="mx-2">{{ link.name }}</span></a
        >
      </li>
      <li class="navbar-item">
        <a
          class="nav-link custom-sidenav-label d-flex align-items-center"
          style="cursor: pointer"
          (click)="logout($event)"
          routerLinkActive="custom-sidenav-active"
        >
          <i class="bi bi-box-arrow-left custom-sidenav-icon"></i>
          <span class="mx-2">Logout</span></a
        >
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav
      *ngIf="showToggle"
      class="navbar navbar-expand-lg navbar-light bg-light"
    >
      <div class="container-fluid">
        <button class="btn btn-light" (click)="clickEvent()">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
