<div class="container p-4">
  <h4 class="h4 h4-responsive mb-4">Create New Customer</h4>
  <form (submit)="saveCustomer($event)">
    <div class="card shadow px-3 py-3">
      <div class="card-shadow">
        <div class="col-md-12 mb-3">
          <div class="form-group">
            <label class="fw-bold m-0 p-0 text-capitalize" for="province"
              >Full Name</label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              [(ngModel)]="customer.name"
            />
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <div class="d-flex mb-3">
            <div class="me-1 flex-grow-1">
              <label class="fw-bold m-0 p-0 text-capitalize" for="province"
                >Province</label
              >
              <select
                class="form-select"
                [(ngModel)]="customer.addr.province"
                name="province"
                (change)="changeCities(customer.addr.province)"
              >
                <option value="">SELECT PROVINCE</option>
                <option
                  *ngFor="let province of provinces; let i = index"
                  [value]="province"
                >
                  {{ province }}
                </option>
              </select>
            </div>
            <div class="me-1 flex-grow-1">
              <label class="fw-bold m-0 p-0 text-capitalize" for="city"
                >City</label
              >
              <select
                class="form-select"
                [(ngModel)]="customer.addr.city"
                name="city"
                (change)="changeBrgys(customer.addr.city)"
              >
                <option value="">SELECT CITY</option>
                <option
                  *ngFor="let city of cities; let i = index"
                  [value]="city"
                >
                  {{ city }}
                </option>
              </select>
            </div>
          </div>
          <div class="d-flex">
            <div class="me-1 flex-grow-1">
              <label class="fw-bold m-0 p-0 text-capitalize" for="brgy"
                >Barangay</label
              >
              <select
                class="form-select"
                [(ngModel)]="customer.addr.brgy"
                name="brgy"
              >
                <option value="">SELECT CITY</option>
                <option
                  *ngFor="let brgy of brgys; let i = index"
                  [value]="brgy"
                >
                  {{ brgy }}
                </option>
              </select>
            </div>
            <div class="me-1 flex-grow-1">
              <div class="form-group">
                <label class="fw-bold m-0 p-0 text-capitalize" for="province"
                  >House No./Street</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  [(ngModel)]="customer.addr.hsStNum"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <div class="form-group">
            <label class="fw-bold m-0 p-0 text-capitalize" for="contact"
              >Contact Number</label
            >
            <input
              type="text"
              class="form-control"
              id="contact"
              name="contact"
              [(ngModel)]="customer.contact"
            />
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <div class="form-group">
            <label class="fw-bold m-0 p-0 text-capitalize" for="email"
              >Email Address</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="customer.email"
            />
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-2 mb-2 text-end">
        <button type="button" class="btn btn-dark me-2" (click)="handleClose()">
          Cancel
        </button>
        <button type="submit" class="btn btn-dark text-white">Save</button>
      </div>
    </div>
  </form>
</div>
