<div class="container-fluid">
  <h2 class="h2 h2-responsive mt-4 fw-bolder">Inquiry List</h2>
  <div class="col-md-6 mt-3">
    <div class="mb-3">
      <div class="col-md-6 d-flex align-items-center">
        <div class="input-group me-2 flex-grow-1">
          <input
            type="text"
            class="form-control"
            placeholder="Search by Inquiry Number"
            [(ngModel)]="search"
          />
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
        <button class="btn btn-dark" (click)="handleSearch()">Go</button>
      </div>
    </div>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <h4 class="h4 fw-bold mb-4">New Inquiries</h4>
      <div class="table-responsive" style="height: 23rem">
        <table class="hoverable table table-hover text-center">
          <thead class="bg-light sticky-top">
            <tr>
              <th class="text-truncate px-1">Inquiry Number</th>
              <th class="text-truncate px-1">Name</th>
              <th class="text-truncate px-1">Company Name</th>
              <th class="text-truncate px-1">Date</th>
              <th class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="inqList.length === 0">
              <tr>
                <td colspan="5">
                  <small class="fw-bold">No Record Found.</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="inqList.length !== 0">
              <tr *ngFor="let inq of inqList">
                <td class="text-truncate px-1">{{ inq.inqId }}</td>
                <td class="text-truncate px-1">{{ inq.keyPartnerId.name }}</td>
                <td class="text-truncate px-1">
                  {{ inq.keyPartnerId.company }}
                </td>
                <td class="text-truncate px-1">
                  {{ inq.createdAt | customDate: "MM/DD/YYYY, hh:mm:ss a" }}
                </td>
                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="viewInquiry(inq)"
                        >
                          View Inquiry
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="createQuotation(inq)"
                        >
                          Create Quotation
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <!-- <nav class="d-flex justify-content-end mt-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link custom-pagination-label" href="#">Previous</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">1</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>

  <div class="col-md-6 mt-3">
    <div class="mb-3">
      <div class="col-md-6 d-flex align-items-center">
        <div class="input-group me-2 flex-grow-1">
          <input
            type="text"
            class="form-control"
            placeholder="Search by Inquiry Number"
          />
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
        <button class="btn btn-dark">Go</button>
      </div>
    </div>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <h4 class="h4 fw-bold mb-4">For Requote</h4>
      <div class="table-responsive" style="height: 23rem">
        <table class="hoverable table table-hover text-center">
          <thead class="bg-light sticky-top">
            <tr>
              <th class="text-truncate px-1">Inquiry Number</th>
              <th class="text-truncate px-1">Name</th>
              <th class="text-truncate px-1">Company Name</th>
              <th class="text-truncate px-1">Date</th>
              <th class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <tr>
              <td class="text-truncate px-1">INQ-10258</td>
              <td class="text-truncate px-1">Key Partner's Name</td>
              <td class="text-truncate px-1">Key Partner's Company Name</td>
              <td class="text-truncate px-1">7/24/2022, 8:59:17 PM</td>
              <td>
                <div class="dropdown">
                  <button
                    class="btn btn-light custom-btn"
                    type="button"
                    id="dropdownMenuButton2"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-light"
                    aria-labelledby="dropdownMenuButton2"
                  >
                    <li>
                      <button class="dropdown-item text-sm">
                        View Inquiry
                      </button>
                    </li>
                    <li>
                      <button class="dropdown-item text-sm">
                        Create New Quotation
                      </button>
                    </li>
                    <li>
                      <button class="dropdown-item text-sm">
                        Delete Inquiry
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <nav class="d-flex justify-content-end mt-e">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link custom-pagination-label" href="#">Previous</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">1</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>
