<div class="container-fluid">
  <div class="col-md-6 offset-md-3">
    <div class="col-md-6 offset-md-3 text-center my-3">
      <img src="/assets/logo.png" class="img-fluid w-50" />
    </div>
    <div class="row">
      <form class="col-md-6 offset-md-3" [formGroup]="cred" (submit)="login($event, cred)">
        <div class="my-3">
          <label for="username">Username:</label>
          <input type="text" class="form-control" formControlName="username"/>
          <!-- <app-input
            formControlName="username"
            [inputType]="'text'"
            [name]="'username'"
            [label]="'Username'"
          ></app-input> -->
        </div>
        <div class="my-3">
          <label for="password">Password:</label>
          <input type="password" class="form-control" formControlName="password"/>
          <!-- <app-input
            formControlName="password"
            [inputType]="'password'"
            [name]="'password'"
            [label]="'Password'"
          ></app-input> -->
        </div>
        <div class="col-md-12 my-3 text-center">
          <a class="btn btn=transparent shadow-0 p-0 fw-bold"
            >Forgot Password</a
          >
        </div>
        <div class="col-md-4 offset-md-4">
          <app-button [label]="'Sign In'" [inputType]="'submit'"></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
