<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center p-3">
    <img src="../../../assets/logo.png" />
    <h3 class="h3-responsive mt-3">Forgot Password</h3>
    <ng-template [ngIf]="!isSent">
      <span class="mb-3">Enter your email to request password reset.</span>
      <div class="form-group m-2">
        <input class="form-control" type="text" [(ngModel)]="email" />
      </div>
      <button class="btn btn-dark" (click)="requestPasswordReset()">Send</button>
    </ng-template>
    <ng-template [ngIf]="isSent">
      <span>Password reset has been requested. Please check your email for instructions.</span>
    </ng-template>
  </div>
</div>