<div class="container p-4">
  <div class="card shadow px-3 m-3">
    <div class="card-body">
      <div class="title-container mb-2">
        <h1 class="h1 h1-responsive my-2 pb-2 text-center">
          Product Cost Inquiry
        </h1>
      </div>
      <div class="quotation-company-info text-center mb-4">
        <p class="m-0 p-0">EdgeCommerce Fulfillment and Ecom Service</p>
        <p class="m-0 p-0">
          Pedro Buan Road, Alangilan Batangas City 4200 ⚬
          edgecommerceph@gmail.com
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="text-center d-flex-align-items-center">
            <img src="/assets/logo.png" class="img-fluid w-50 mx-auto" />
          </div>
        </div>
        <div class="col-md-8 custom-bg-black text-white">
          <div class="row p-3 h-100">
            <div class="col-md-6">
              <div>
                <h5>NAME:</h5>
                {{ data?.keyPartnerId.name }}
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <h5>INQUIRY NO.:</h5>
                {{ data?.inqId }}
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <h5>STORE/S NAME:</h5>
                {{ data?.keyPartnerId.company }}
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <h5>DATE:</h5>
                {{ data?.createdAt | customDate: "MMMM DD, YYYY" }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-3">
        <table class="w-100 text-center">
          <tr>
            <th style="background-color: #f0b663" class="text-black">
              Item Number
            </th>
            <th style="background-color: #f0b663" class="text-black">Item</th>
            <th style="background-color: #3f3f3f" class="text-white">QTY</th>
            <th style="background-color: #3f3f3f" class="text-white">Units</th>
            <th style="background-color: #3f3f3f" class="text-white">
              REMARKS
            </th>
          </tr>
          <tr *ngFor="let item of data?.items; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.units }}</td>
            <td style="background-color: #f0b663">{{ item.remarks }}</td>
          </tr>
        </table>
      </div>
      <div class="text-end mt-3">
        <button class="btn btn-dark px-3 me-2" (click)="generateFile()">
          Generate File
        </button>
        <button class="btn btn-dark px-3" (click)="handleClose()">Close</button>
      </div>
    </div>
  </div>
</div>
