<div class="container">
    <h1 class="h1 h1-responsive my-3 pb-2 text-center">Product Cost Inquiry</h1>
    <div class="header-container d-flex flex-row w-100">
        <div class="logo">Logo</div>
        <div class="details w-100">
            <div class="d-flex justify-content-center">
                <div class="subheader">
                EdgeCommerce Fulfillment and Ecom Service<br> 
                • Pedro Buan Road, Alangilan Batangas City 4200 
                • edgecommerceph@gmail.com</div>
            </div>
            <div class="info pt-4 w-100">
                <div class="row">
                    <div class="col text-end">NAME:</div><div class="col fw-normal text-start">Kath S. Lat</div>
                    <div class="col text-end">INQUIRY NO.:</div><div class="col fw-normal text-start">INQ-00001</div>
                </div>
                <div class="row">
                    <div class="col text-end">STORE/S NAME:</div><div class="col fw-normal text-start">O2door</div>
                    <div class="col text-end">DATE:</div><div class="col fw-normal text-start">DATE:</div>
                </div>
            </div>
        </div>
  
    </div>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
       