h1{
    border-bottom: 3px solid black;
}
.header-container{
    text-align:center;
   
    .logo{
        border: 1px solid black ;    
        width:20%;
    
    }
    .details{
        .subheader{
            font-size:large;
          
        }
        .info{
            height:100px;
            color:white;
            font-weight:bold;
            background-color:#3F3F3F;
   
        }
    }
    
    
}

