<div class="container">
    <h1 class="h1 h1-responsive my-2 pb-2 text-center">Product Cost Inquiry</h1>
    <div class="header-container d-flex flex-row w-100">
        <div class="logo d-flex align-items-end justify-content-center"  style="width:15%"> <img src="/assets/logo.png" class="img-fluid" style="width:90%" /></div>
        <div class="details w-100 d-flex flex-column justify-content-end">
            <div class="d-flex justify-content-center"  style="width:85%">
                <div class="subheader">
                EdgeCommerce Fulfillment and Ecom Service<br> 
                • Pedro Buan Road, Alangilan Batangas City 4200 
                • edgecommerceph@gmail.com</div>
            </div>
            <div class="info pt-4">
                <div class="row">
                    <div class="col text-end">NAME:</div><div class="col fw-normal text-start">Kath S. Lat</div>
                    <div class="col text-end">INQUIRY NO.:</div><div class="col fw-normal text-start">INQ-00001</div>
                </div>
                <div class="row">
                    <div class="col text-end">STORE/S NAME:</div><div class="col fw-normal text-start">O2door</div>
                    <div class="col text-end">DATE:</div><div class="col fw-normal text-start">DATE:</div>
                </div>
            </div>
        </div>
  
    </div>
    <div class="col mt-3">
      <table class="w-100 text-center">
        <tr>
          <th style="background-color: #f0b663" class="text-black">Item Number</th>
          <th style="background-color: #f0b663" class="text-black">Item</th>
          <th style="background-color: #3f3f3f" class="text-white">QTY</th>
          <th style="background-color: #3f3f3f" class="text-white">Units</th>
          <th style="background-color: #3f3f3f" class="text-white">REMARKS</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Description of Product 1</td>
          <td>1</td>
          <td>100.00</td>
          <td style="background-color: #f0b663">115.00</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Description of Product 2</td>
          <td>1</td>
          <td>100.00</td>
          <td style="background-color: #f0b663">115.00</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Description of Product 4</td>
          <td>1</td>
          <td>100.00</td>
          <td style="background-color: #f0b663">115.00</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Description of Product 5</td>
          <td>1</td>
          <td>100.00</td>
          <td style="background-color: #f0b663">115.00</td>
        </tr>
      </table>
    </div>
    </div>
       