<div class="container p-4">
  <div class="card shadow px-3">
    <div class="card-body">
      <div class="title-container mb-2">
        <h3 class="h3 h3-responsive text-center">FORMAL QUOTATION</h3>
      </div>
      <div class="quotation-company-info text-center mb-4">
        <p class="m-0 p-0">EdgeCommerce Fulfillment and Ecom Service</p>
        <p class="m-0 p-0">
          Pedro Buan Road, Alangilan Batangas City 4200 ⚬
          edgecommerceph@gmail.com
        </p>
      </div>
      <div class="col-md-12 custom-bg-orange p-3">
        <div class="row quotation-header">
          <div class="col-md-4 text-center">
            <img src="/assets/logo.png" class="img-fluid w-25 mx-auto" />
          </div>
          <div class="col-md-4">
            <h5>CUSTOMER</h5>
            {{ data.keyPartnerId.name }} <br />
            {{ data.keyPartnerId.company }}<br />
            {{ data.keyPartnerId.addr }} <br />
            {{ data.keyPartnerId.contact }}
          </div>
          <div class="col-md-4">
            <h5>PREPARED BY:</h5>
            Adel Bayeta <br />
            EdgeCommerce Fulfillment <br />
            Pedro Buan Road, Alangilan Batangas City <br />
            09366274842
          </div>
        </div>
      </div>
      <div class="my-3">
        <div class="row">
          <div class="col-md-6">
            <table>
              <tr>
                <td class="text-end px-2">Quote No:</td>
                <td
                  class="text-start text-white px-3"
                  style="background-color: #3f3f3f"
                >
                  {{ data.quotationId }}
                </td>
              </tr>
              <tr>
                <!-- <td class="text-end px-2">Customer Id:</td>
                <td
                  class="text-start text-white px-3"
                  style="background-color: #3f3f3f"
                >
                  00001
                </td> -->
              </tr>
            </table>
          </div>
          <div class="col-md-6 d-flex align-items-end justify-content-end">
            <table>
              <tr>
                <td class="text-end px-2">Date:</td>
                <td
                  class="text-start text-white px-3"
                  style="background-color: #3f3f3f"
                >
                  {{ data.createdAt | customDate: "MMM. DD, YYYY" }}
                </td>
              </tr>
              <tr>
                <td class="text-end px-2">Valid Until:</td>
                <td
                  class="text-start text-white px-3"
                  style="background-color: #3f3f3f"
                >
                  {{ data.validUntil | customDate: "MMM. DD, YYYY" }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col">
        <table class="w-100 text-center">
          <tr>
            <th style="background-color: #3f3f3f" class="text-white">
              Item Number
            </th>
            <th style="background-color: #3f3f3f" class="text-white">Item</th>
            <th style="background-color: #f0b663">Unit Price</th>
            <th style="background-color: #f0b663">QTY</th>
            <th style="background-color: #f0b663">Mark Up (15%)</th>
            <th style="background-color: #f0b663">Total Price</th>
          </tr>
          <tr *ngFor="let item of data.items; let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.unitPrice }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ (item.unitPrice * 0.15) }}</td>
            <td>{{ item.totalPrice }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
