<ng-template [ngIf]="!isAuth">
  <div
    class="d-flex align-items-center justify-content-center"
    style="height: 93vh"
  >
    <div class="col-md-6 col-12 col-sm-8">
      <div class="card py-3 shadow">
        <div class="card-body">
          <div class="col-md-10 offset-md-1">
            <div class="mb-2">
              <h4 class="card-title mb-0 pb-0">
                COA / NDA User Authentication
              </h4>
              <small class="fw-bold"
                >*Enter password to view the COA / NDA documents.</small
              >
            </div>
            <div class="form-group mb-3">
              <label for="password" class="fw-bold m-0 p-0">Password:</label>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="password"
              />
            </div>
            <div class="text-end">
              <button class="btn btn-dark" (click)="authenticate()">
                Authenticate
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="isAuth">
  <div class="container-fluid">
    <h2 class="h2 h2-responsive my-3 fw-bolder">My COA / NDA</h2>
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search by Date"
          />
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-5">
      <div class="card shadow p-3">
        <div class="card-body">
          <div class="table-responsive" style="height: 23rem">
            <table class="hoverable table table-hover text-center">
              <thead class="bg-light sticky-top">
                <tr>
                  <th class="text-truncate px-1">Date Received</th>
                  <th class="text-truncate px-1">Actions</th>
                </tr>
              </thead>
              <tbody class="border-top-0">
                <ng-template [ngIf]="fileList.length === 0">
                  <tr>
                    <td colspan="2">
                      <small class="fw-bold">No Files Found.</small>
                    </td>
                  </tr>
                </ng-template>
                <ng-template [ngIf]="fileList.length !== 0">
                  <tr *ngFor="let file of fileList">
                    <td class="text-truncate px-1">
                      {{
                        file.createdAt | customDate: "MM/DD/YYYY, hh:mm:ss a"
                      }}
                    </td>
                    <td class="text-truncate">
                      <a
                        class="btn btn-dark text-white fw-bolder py-0 me-2"
                        title="View COA/NDA"
                        href="{{ file.file }}"
                        target="_blank"
                      >
                        <i class="bi bi-door-open"></i>
                      </a>
                      <a
                        class="btn btn-dark text-white fw-bolder py-0"
                        title="Download COA/NDA"
                        [href]="file.file"
                        target="_blank"
                        [download]="file.filename"
                      >
                        <i class="bi bi-file-earmark-arrow-down"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
          <!-- <nav class="d-flex justify-content-end mt-3">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link custom-pagination-label" href="#">Previous</a>
              </li>
              <li class="page-item custom-pagination-label">
                <a class="page-link custom-pagination-label" href="#">1</a>
              </li>
              <li class="page-item custom-pagination-label">
                <a class="page-link custom-pagination-label" href="#">Next</a>
              </li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
  </div>
</ng-template>
