<div id="wrapper">
  <div
    class="custom-sidebar"
    [style.width]="!status ? '20rem' : screen < 821 ? '0rem' : '5.5rem'"
  >
    <div class="text-center py-4">
      <img
        src="{{
          status
            ? '/assets/images/navigation/logo.png'
            : '/assets/images/navigation/label.png'
        }}"
        class="img-fluid custom-sidebar-nav-logo"
      />
    </div>
    <div class="custom-sidebar-menu">
      <ul>
        <li
          *ngFor="let link of links"
          class="text-white {{ status && 'sidebar-tool-tip' }}"
          [attr.data-sidebar-tooltip]="link.name"
        >
          <a
            routerLink="{{ link.path }}"
            routerLinkActive="active"
            class="text-decoration-none text-white d-flex position-relative"
            (click)="handleToggle()"
          >
            <i class="{{ link.icon }} menu-icon"></i>
            <span class="{{ status ? 'name-none' : '' }}">
              {{ link.name }}
            </span>
            <span
              *ngIf="link.data"
              class="badge bg-danger ms-auto me-3 custom-icon-badge"
              >{{ link.data }}</span
            >
          </a>
        </li>
        <li
          class="text-white {{ status && 'sidebar-tool-tip' }}"
          [attr.data-sidebar-tooltip]="'Logout'"
        >
          <a
            class="text-decoration-none text-white"
            style="cursor: pointer"
            (click)="logout($event)"
            routerLinkActive="custom-sidenav-active"
          >
            <i class="bi bi-box-arrow-left menu-icon"></i>
            <span class="{{ status ? 'name-none' : '' }}">Logout</span></a
          >
        </li>
      </ul>
    </div>
  </div>
  <div
    class="custom-dark-close custom-transition"
    (click)="clickEvent()"
    *ngIf="screen < 821 && !status"
  ></div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div
    id="page-content-wrapper"
    class="custom-transition"
    [style.paddingLeft]="screen > 821 ? (status ? '5.5rem' : '20rem') : '0rem'"
  >
    <div class="container-fluid p-0 m-0">
      <div class="top-nav p-2 d-flex justify-content-between">
        <div class="d-flex flex-row align-items-baseline">
          <button
            (click)="clickEvent()"
            class="btn text-white bg-transparent border-0"
          >
            <i class="bi bi-list fs-4"></i>
          </button>
          <h2 class="text-white">{{ pageTitle }}</h2>
        </div>
        <a routerLink="profile" class="text-decoration-none">
          <div
            class="d-flex align-items-center justify-content-end py-1 px-2 custom-pointer"
          >
            <div
              class="custom-profile-picture"
              style="background-image: url('{{ img }}');"
            ></div>
            <!-- <img
              src="{{ img }}"
              class="rounded-circle"
              style="width: 2.5rem"
              alt="Avatar"
              (error)="errorImage($event)"
            /> -->
          </div>
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
