<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">My Quotations</h2>

  <div
    class="d-flex flex-row justify-content-start align-items-start mb-3 w-100"
  >
    <div class="w-50 d-flex">
      <div class="col-md-6 me-2">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search by Quotation Number"
            [(ngModel)]="aSearch"
          />
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
      </div>
      <button class="btn btn-dark" (click)="handleApprovalSearch()">Go</button>
    </div>
    <div class="w-50">
      <h5>Legend</h5>
      <div class="d-flex flex-row gap-1">
        <div class="legend-info"></div>
        <p>For checking</p>
      </div>
      <div class="d-flex flex-row gap-1">
        <div class="legend-warning"></div>
        <p>Pending</p>
      </div>
      <div class="d-flex flex-row gap-1">
        <div class="legend-danger"></div>
        <p>Declined</p>
      </div>
      <div class="d-flex flex-row gap-1">
        <div class="legend-success"></div>
        <p>Approved</p>
      </div>
    </div>
  </div>

  <div class="card shadow p-3">
    <div class="card-body">
      <h4 class="h4 fw-bold">Quotations for Approval</h4>
      <div class="d-flex align-items-center justify-content-end mb-4">
        <span class="me-2">Action:</span>
        <div class="me-2">
          <select class="form-select" aria-label="Default select example">
            <option value="download">Download All Selected</option>
          </select>
        </div>
        <button class="btn btn-dark" (click)="downloadSelectedforApproval()">
          Go
        </button>
      </div>
      <div class="table-responsive" style="height: 23rem">
        <table class="table table-hover text-center position-relative">
          <thead class="bg-light sticky-top">
            <tr>
              <th class="px-1 text-truncate">
                <div class="py-0 my-0 form-check d-flex justify-content-center">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="check-all"
                    (change)="handleSelectAll($event)"
                  />
                </div>
              </th>
              <th scope="col" class="text-truncate px-1">Qoute Number</th>
              <th scope="col" class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="forApproval.length === 0">
              <tr>
                <td colspan="3">
                  <small class="fw-bold">No Quotations Found.</small>
                </td>
              </tr>
            </ng-template>

            <ng-template [ngIf]="forApproval.length !== 0">
              <tr *ngFor="let table of forApproval">
                <td class="text-center">
                  <div
                    class="py-0 my-0 form-check d-flex justify-content-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input custom-check-me-approval"
                      id="check-only"
                    />
                  </div>
                </td>
                <td class="text-truncate px-1">{{ table.quotationId }}</td>
                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="viewQuotation(table)"
                        >
                          View
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="createQuotation(table)"
                        >
                          Create Purchase Order
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="setStatus(table._id, 'pending')"
                        >
                          Mark As Pending
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="setStatus(table._id, 'declined')"
                        >
                          Decline
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Pending Quotations -->
  <div class="d-flex my-3">
    <div class="col-md-6 me-2">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Quotation Number"
          [(ngModel)]="pSearch"
        />
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
    </div>
    <button class="btn btn-dark" (click)="handlePendingSearch()">Go</button>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <h4 class="h4 fw-bold">Pending Quotations</h4>
      <div class="d-flex align-items-center justify-content-end mb-4">
        <span class="me-2">Action:</span>
        <div class="me-2">
          <select class="form-select" aria-label="Default select example">
            <option value="download">Download All Selected</option>
          </select>
        </div>
        <button class="btn btn-dark">Go</button>
      </div>
      <div class="table-responsive" style="height: 23rem">
        <table class="table table-hover text-center position-relative">
          <thead class="bg-light sticky-top">
            <tr>
              <th class="px-1 text-truncate">
                <div class="py-0 my-0 form-check d-flex justify-content-center">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="check-all"
                  />
                </div>
              </th>
              <th scope="col" class="text-truncate px-1">Qoute Number</th>
              <th scope="col" class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="pending.length === 0">
              <tr>
                <td colspan="3">
                  <small class="fw-bold">No Quotations Found.</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="pending.length !== 0">
              <tr *ngFor="let table of pending">
                <td class="text-center">
                  <div
                    class="py-0 my-0 form-check d-flex justify-content-center"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input custom-check-me-pending"
                      id="check-only"
                    />
                  </div>
                </td>
                <td class="text-truncate px-1">{{ table.quotationId }}</td>
                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="viewQuotation(table)"
                        >
                          View
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="createQuotation(table)"
                        >
                          Create Purchase Order
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="setStatus(table._id, 'declined')"
                        >
                          Decline
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
