<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">My Quotations</h2>
  <div class="mt-4">
    <div class="col-md-6 my-3">
      <div class="col-md-6 d-flex align-items-center">
        <div class="input-group me-2 flex-grow-1">
          <input
            type="text"
            class="form-control"
            placeholder="Search by Quotation Number"
          />
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
        <button class="btn btn-dark">Go</button>
      </div>
    </div>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <h4 class="h4 fw-bold">Quotations for Approval</h4>
      <div class="table-responsive" style="height: 23rem">
        <table class="table table-hover text-center position-relative">
          <thead class="bg-light sticky-top">
            <tr>
              <th scope="col" class="text-truncate px-1">Qoute Number</th>
              <th scope="col" class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="forApproval.length === 0">
              <tr>
                <td colspan="2">
                  <small class="fw-bold">No Quotations Found.</small>
                </td>
              </tr>
            </ng-template>

            <ng-template [ngIf]="forApproval.length !== 0">
              <tr *ngFor="let table of forApproval">
                <td class="text-truncate px-1">{{ table.quotationId }}</td>
                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="viewQuotation(table)"
                        >
                          View
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="createQuotation(table)"
                        >
                          Create Purchase Order
                        </button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="markAsPending(table._id)"
                        >
                          Mark As Pending
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item text-sm">Decline</button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <!-- <nav class="d-flex justify-content-end mt-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link custom-pagination-label" href="#">Previous</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">1</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>

  <!-- Pending Quotations -->
  <div class="mt-4">
    <div class="col-md-6 my-3">
      <div class="col-md-6 d-flex align-items-center">
        <div class="input-group me-2 flex-grow-1">
          <input
            type="text"
            class="form-control"
            placeholder="Search by Quotation Number"
          />
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
        <button class="btn btn-dark">Go</button>
      </div>
    </div>
  </div>
  <div class="card shadow p-3">
    <div class="card-body">
      <h4 class="h4 fw-bold">Pending Quotations</h4>
      <div class="table-responsive" style="height: 23rem">
        <table class="table table-hover text-center position-relative">
          <thead class="bg-light sticky-top">
            <tr>
              <th scope="col" class="text-truncate px-1">Qoute Number</th>
              <th scope="col" class="text-truncate px-1">Actions</th>
            </tr>
          </thead>
          <tbody class="border-top-0">
            <ng-template [ngIf]="pending.length === 0">
              <tr>
                <td colspan="2">
                  <small class="fw-bold">No Quotations Found.</small>
                </td>
              </tr>
            </ng-template>
            <ng-template [ngIf]="pending.length !== 0">
              <tr *ngFor="let table of pending">
                <td class="text-truncate px-1">45656</td>
                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-light custom-btn"
                      type="button"
                      id="dropdownMenuButton2"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-light"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <li>
                        <button class="dropdown-item text-sm">View</button>
                      </li>
                      <li>
                        <button
                          class="dropdown-item text-sm"
                          (click)="createQuotation(table)"
                        >
                          Create Purchase Order
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item text-sm">Decline</button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <!-- <nav class="d-flex justify-content-end mt-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link custom-pagination-label" href="#">Previous</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">1</a>
          </li>
          <li class="page-item custom-pagination-label">
            <a class="page-link custom-pagination-label" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>
