/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

button[data-tool-tip] {
  position: relative;
}

button[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: #292b2c;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.7rem;
  bottom: 0;
  left: -2.5rem;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 100ms, bottom ease-out 100ms,
    left ease-out 100ms;
  font-weight: 500;
}

button[data-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 110%;
  left: -100%;
}

.sidebar-tool-tip {
  position: relative;
}

.sidebar-tool-tip::after {
  display: block;
  content: attr(data-sidebar-tooltip);
  position: absolute;
  padding: 0.5rem 1rem;
  z-index: 1;
  bottom: 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.8rem;
  left: 0;
  white-space: nowrap;
  background-color: #292b2c;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms,
    left ease-out 150ms;
}

.sidebar-tool-tip:hover::after {
  transform: scale(1);
  bottom: 50%;
  left: 70%;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  max-height: 100vh;
  overflow: auto;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  .show {
    margin-left: 0 !important;
  }
  .hide {
    margin-left: -20rem !important;
  }
}
@media (max-width: 767px) {
  .show {
    margin-left: -20rem !important;
  }
  .hide {
    margin-left: -0 !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
