<!-- <div class="d-flex flex-column justify-content-center align-items-center mt-4">
  <img src="../../assets/logo.png" class="img-container"/>
  <div class="d-flex flex-column justify-content-center align-items-stretch mt-2">
    <a routerLink="/admin" class="btn btn-primary mt-3">Admin</a>
    <a routerLink="/key-partners" class="btn btn-primary mt-3">Key Partners</a>
  </div>
</div> -->

<!-- <div class="container-fluid mx-0 px-0">
  <div
    class="custom-section-size custom-header-container d-flex align-items-center justify-content-center"
  >
    <div class="row">
      <div
        class="col-md-6 custom-header-image d-flex align-items-center justify-content-center"
      >
        <img
          src="/assets/images/landingpage/header/logo.png"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 d-flex align-items-center custom-header-paragraph">
        <p class="fs-3 text-center">
          <i>
            "EdgeCommerce is your reliable partner in all aspects of your online
            business. We provide assistance on everything from product sourcing,
            inventory management, order fulfillment activities such as packing
            and shipping to make your eCommerce journey easier."
          </i>
        </p>
      </div>
    </div>
  </div>

  <div
    class="custom-section-size custom-whatwedo-container d-flex align-items-center"
  >
    <img
      src="/assets/images/landingpage/about/whatwedo.png"
      class="img-fluid w-75 mx-auto"
    />
  </div>

  <div class="custom-about-container custom-section-size">
    <div>
      <div class="row pb-5">
        <div class="video-container col-md-6 offset-md-3">
          <h1 class="m-0 py-4">About Us</h1>
          <video controls class="img-fluid">
            <source
              src="/assets/images/landingpage/about/edgeVideo.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="row">
        <div
          class="d-flex align-items-center justify-content-around py-5 px-0 mx-0"
          style="background-color: #44b5c4"
        >
          <h1 class="m-0 p-0 text-white">
            <span style="font-weight: 300">Join us!</span>&nbsp;
            <span>Become our KEY PARTNERS!</span>
          </h1>
          <button
            class="btn text-white py-3 px-5 fw-bold"
            style="background-color: #fd7c04; font-size: 0.8rem"
          >
            REGISTER HERE!
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="container-fluid custom_fluid p-0 m-0" id="Home">

  <div class="row  custom_container_size h-100 w-100  p-0 m-0" >
    <div class=" row header_container h-100  d-flex justify-content-center ">
      <div>
      <nav  class="custom_navigation navbar  navbar-expand-lg  navbar-dark ">
        <div class="custom_logo navbar-brand ">
          <div (click)="toHome()"><a><img src="assets/images/landingpage/EDGE.png" style="width:8rem; height:8rem;"></a></div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="custom_nav_list collapse navbar-collapse  " id="navbarNav">
          <ul class="navbar-nav mx-auto py-5">
            <li class="nav-item" (click)="toSection()" style="cursor:pointer">
              <a class="nav-link active">Home</a>
            </li>
            <li class="nav-item" (click)="toServices()" style="cursor:pointer">
              <a class="nav-link">Services</a>
            </li>
            <li class="nav-item" (click)="toAbout()" style="cursor:pointer">
              <a class="nav-link">About</a>
            </li>
            <li class="nav-item " (click)="toContact()" style="cursor:pointer">
              <a class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item custom_contact shadow"  style="cursor:pointer">
              <a class="nav-link"  routerLink="/key-partners/register">Register Here</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

        
        <div class="row custom_header_text d-flex justify-content-start ">
          <div class="col-lg-6 col-md-8 text-white custom_align_text align-self-start ">
            <div class="col-lg-auto mt-3 h1">Why CHOOSE US?</div>
            <div class="col-lg-10 text-size"><span class="fs-3">Edgecommerce</span> is your reliable partner in all aspects of
              your online business.We provide assistance on everything from product sourcing, inventory management,
              order fulfillment activities such as packing and shipping
              to make your ecommerce journey easier.
            </div>
            <div class="btn_default_header btn  text-white shadow  py-3 d-flex justify-content-center align-items-center" (click)="toSection()">
              <a style="text-decoration: none;">Read more</a>
              <span class="material-symbols-outlined ms-3 fs-sm-1">trending_flat</span>
            </div>
          </div>


          <div class="col-lg-6 col-md-4 text-center custom_align_image ">
            <div class="computer_image_header">
              <img src="assets/images/landingpage/header/computeredge.svg" alt="computeredge">
            </div>
          </div>
        </div>

      </div>
    </div>


  
      <div class="container-fluid custom_fluid p-0 m-0"  id="Section">
        <div class="row ">
          <div class="col d-none d-sm-block col-lg-3 m-0 p-0 text-center align-self-center ">
            <img src="assets/images/landingpage/style1.svg" alt="style">
          </div>
          <div class="col col-lg-6 m-0 p-0 align-self-center ">
            <div class="card shadow round custom-vid-card">
              <div class="card-body custom_vid_size ">
                <div class="embed-responsive  embed-responsive-16by9">
                  <div class="embed-container"><iframe class="embed-responsive-item muted"
                      src="assets/images/landingpage/edgeVideo.mp4"></iframe></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row custom_section2 d-flex flex-column justify-content-start  align-items-center  h-100 text-center">
          
          <div class="row text-center h-25">
            <div class="default_header_text">
              <h1>We provide various kind <br>of service for you</h1>
              <p class="mt-5 mb-5 ">Order fulfillment services,No RTS fee, No warehouse fee, <br>Low shipping rate,
                weekly remittance, Daily reporting</p>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-md-3 h-50 mt-5 ">
            <div class="col d-flex justify-content-center align-items-center">
              <div class="card shadow pt-5 p-3 mb-5" style="height:27rem; border-radius: 1rem;">
                <img src="assets/images/landingpage/peopleicon.svg" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-center align-items-center ">
                  <h5 class="card-title fs-3">Organized System</h5>
                  <p class="card-text">Easy Tracking and monitoring <br>of fulfilled orders</p>

                </div>
              </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
              <div class="card shadow pt-5 p-3 mb-5" style="height:27rem; border-radius: 1rem;">
                <img src="assets/images/landingpage/demand.svg" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-center align-items-center ">
                  <h5 class="card-title fs-3 ">Gaurantee weekly payout</h5>
                  <p class="card-text ">Of your collective cash and delivery</p>

                </div>
              </div>
            </div>
            <div class="col d-flex justify-content-center">
              <div class="card  shadow pt-5  p-3 mb-5" style="height:27rem;  border-radius: 1rem;">
                <img src="assets/images/landingpage/carticon.svg" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                  <h5 class="card-title fs-3">Prepare and pack <br>your orders</h5>
                  <p class="card-text">We only change per order, so no matter how many items are in one order, you only
                    have to pay one fulfillment fee.</p>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="container-fluid custom_fluid p-0 m-0 " >
          <div class="row custom_section3 d-flex flex-column justify-content-start  align-items-center h-100 " >
            <div class="row text-center h-25" id="Services">
              <div class="default_header_text">
                <h1>Services</h1>
                <p class="mt-5">Edgecommerce is your reliable partner in all aspects of your online business. <br>We
                  provide
                  assistance on everything</p>
              </div>
            </div>
            <div class="row mt-5 overflow-auto">
              <div class="col col-md-auto m-auto">
                <div class="card" style="width:80rem;">
                  <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/images/landingpage/diagram.png" alt="diagram" class="img-fluid"
                      style="width:fit-content; height:auto;">
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="btn_default btn text-center bg-light shadow py-3 px-4 m-5 w-auto d-flex align-items-center">
          <div><a hre="#">Read more</a></div>
          <span class="material-symbols-outlined ms-3">trending_flat</span>
        </div> -->
          </div>
        </div>
      </div>
   

    <div class="container-fluid custom_fluid p-0 m-0 " >
      <div class="row custom_section_vid h-100">
  
        <div class="row text-center h-100">
          <div class="default_header_text "  id="About">
            <h1>About Us</h1>
            <p class="mt-5">Join our team and expand your ecommerce business! We can help you with everything from
              product financing to
              inventory management and<br> order fulfillment activities like packing and shipping to make your eCommerce
              experience easier.
              <br>EdgeCommerce is your trustworthy partner in all aspects of launching, operating, and expanding your
              online business.
            </p>

          </div>
        </div>
      </div>
    </div>



    <div class="container-fluid custom_fluid p-0 m-0 ">
      <div class="custom_bg_style h-100 ">
        <div class=" custom_section_leader h-100 ">

          <div class="row text-center ">
            <div class="default_header_text">
              <h1>Who’s behind Edgecommerce</h1>
              <p class="mt-5 ">Heres the best president <br>and managers in our company</p>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-md-3 h-50 mt-5">
            <div class="col d-flex justify-content-center align-items-center">
              <div class="card shadow pt-5 p-3 mb-5" style="height:27rem; border-radius: 1rem;">
                <img src="assets/images/landingpage/image1.JPG" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-center align-items-center ">
                  <h5 class="card-title fs-3">Kris Bayeta</h5>
                  <p class="card-text">General Manager</p>

                </div>
              </div>
            </div>
            <div class="col d-flex justify-content-center">
              <div class="card shadow pt-5  p-3 mb-5" style="height:27rem; border-radius: 1rem;">
                <img src="assets/images/landingpage/image2.JPG" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                  <h5 class="card-title fs-3 ">Adel Bayeta</h5>
                  <p class="card-text ">CEO/President</p>
                </div>
              </div>
            </div>
            <div class="col d-flex justify-content-center">
              <div class="card  shadow pt-5  p-3 mb-5" style="height:27rem;  border-radius: 1rem;">
                <img src="assets/images/landingpage/image3.JPG" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                  <h5 class="card-title fs-3">Kath Donna Lat</h5>
                  <p class="card-text">Admin Manager</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="container-fluid custom_fluid p-0 m-0 ">
      <div class="d-flex justify-content-center align-items-start">
        <div class="mission_vission_container  d-flex justify-content-center align-items-center  h-100">
          <div class="row h-100  d-flex flex-row justify-content-center">
            <div class="col-lg-5 col-md-5 align-self-center text-center custom_bg_row">
              <div class="title_mission_vission"><span>Mission</span><br><span>&
                  Vision</span></div>
            </div>
            <div class="col-lg-6 col-md-6 align-self-center h-auto">
              <div class="card shadow h-100" style="border-radius:10px">
                <div class="card-body  d-flex flex-column justify-content-evenly p-5 ">
                  <div class="row mb-2">
                    <div class="card-title custom_card_title_mission"><span>Mission</span></div>
                    <div class="card-text" style="color:gray">We believe that Ecommerce provides everyone with the
                      opportunity to establish a business that works for them by creating wealth and a future for their
                      long-term life goals, regardless of whether they work from home, work full-time, or want to quit
                      their jobs.
                      We like to create an environment in which our key partners can join an ecommerce business and can
                      rely on our team of professional individuals to guide them through every aspect of starting,
                      running, and growing an online business.</div>
                  </div>

                  <div class="row mt-2">
                    <div class="card-title custom_card_title_vision"><span>Vision</span></div>
                    <div class="card-text" style="color:gray">To offer a one of a kind opportunity to assist you as an
                      ecommerce business owner and to improve the lives of many people.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>


      <!-- 
<div class="container-fluid custom_fluid p-0 m-0 ">

  <div class="custom_testimonials"> 
    <div class="row w-100">
      <div class="col-lg-8">
      <div class="default_header_text">
        <h1>Our Clients Feedback</h1>
        <p>There Are Many Variations Of Passages Of Lorem Ipsum<br>
          But The Majority Have Suffered Alteration.</p>
      </div>
    </div>
    <div class="col d-flex justify-content-end align-items-center" >
      <div class="btn_default btn shadow d-flex justify-content-center py-3 align-items-center" style="border-radius:10px; width:12rem" >
        <div><a hre="#">Read more</a></div>
        <span class="material-symbols-outlined custom_color ms-3" style="color:black">trending_flat</span>
      </div>
    </div>

    </div>
    

        <div class="row align-items-center  custom-row h-75">
          <div class="col-lg-5 ">
            <img src="assets/images/landingpage/storeowner.png" class="img-fluid" alt="sample">
          </div>

          <div class="col-lg-5">
            <div class="row">
              <div style="color:yellow">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
              </div>
            </div>
            <div class="row py-3 fs-4 text-white" >
              <div class="lead">There Are Many Variations Of Passages Of Lorem Ipsum 
                But The Majority Have Suffered Alteration.</div>
            </div>
            <div class="row py-5 text-white">
              <h3>Juan Dela Cruz</h3>
              <span>Store Owner</span>
            </div>
          </div>

        </div>
    </div>

  </div> -->


      <div class="container-fluid custom_fluid p-0 m-0 " id="Contact">

        <div class="footer_container d-flex flex-row justify-content-center">
          <div class="custom_size_footer d-flex flex-column justify-content-start h-100">

            <div class=" row text-white  d-flex flex-row   h-100 w-auto">

              <div class="col-lg-3 d-flex justify-content-center align-items-center ">
                <div class="d-flex flex-column align-items-center">
                <div class="custom_footer_logo d-flex justify-content-start mb-5">
                  <img src="assets/images/landingpage/footer/Logoedge.png" class="img-fluid" alt="footer_logo">
                </div>
                <div class="custom_footer_icon d-flex flex-row align-items-center justify-content-start">
                  <div><a href="https://www.facebook.com/edgecommerceph" target="_blank"><img
                        src="assets/images/landingpage/footer/fb.png" alt="..."></a></div>
                  <div><a href="https://www.facebook.com/edgecommerceph" target="_blank"><img
                        src="assets/images/landingpage/footer/messenger.png" class="ms-3" alt="..."></a></div>
                  <div><a href="https://www.youtube.com/" target="_blank"><img
                        src="assets/images/landingpage/footer/youtube.png" class="ms-3" alt="..."></a></div>
                </div>
              </div>
            </div>


              <div class="col-lg-5 d-flex h-auto">
                <div class="w-100 text-center m-auto">
                  <div class="footer_text_header py-5 ">Links</div>
               
                    <div class="footer_nav_list  w-100  ">
                      <ul class="navbar-nav  d-lg-flex flex-lg-row justify-content-lg-center d-md-flex flex-md-row justify-content-md-center d-sm-flex flex-sm-column  w-100 ">
                        <li class="nav-item mx-3" (click)="toHome()" style="cursor:pointer;" >
                          <a>Home</a>
                        </li>
                        <li class="nav-item mx-3" (click)="toServices()" style="cursor:pointer;">
                          <a>Services</a>
                        </li>
                        <li class="nav-item mx-3" (click)="toAbout()" style="cursor:pointer;">
                          <a href="#">About</a>
                        </li>
                        <li class="nav-item mx-3" (click)="toAbout()" style="cursor:pointer;">
                          <a href="https://www.facebook.com/edgecommerceph" target="_blank">Contact Us</a>
                        </li>
                        <li class="nav-item mx-3">
                          <a routerLink="/key-partners/register">Register Here</a>
                        </li>
                      </ul>
                    </div>
           


                </div>
              </div>
              <!-- <div class="col">
                <div class="footer_text_header">Support</div>
                <div class="footer_nav">
                  <ul>
                    <li><a hre="#">FAQ</a></li>
                    <li><a hre="#">How it</a></li>
                    <li><a hre="#">Features</a></li>
                    <li><a hre="#">Contact</a></li>
                    <li><a hre="#">Reporting</a></li>
                  </ul>
                </div>
              </div> -->
              <div class="col-lg-4 d-flex  d-flex flex-row justify-content-center align-items-center mt-5">
                <div class="text-center">
                  <div class="footer_text_header" style="color:#74FFFF">Contact Us</div>
                  <div class="footer_nav ">

                    <div>EdgeCommerce Fulfillment and Ecom Service</div>
                    <div><a href="mailto:edgecommercephl@gmail.com">edgecommercephl@gmail.com</a></div>
                    <div>Sitio Calumpang, Alangilan Batangas City</div>

                  </div>
                </div>
              </div>

              <div class="custom_float_btn">
                <div (click)="toHome()" class="float" style="cursor:pointer;" >
                  <img src="assets/images/landingpage/iconsup.svg">
                </div>
              </div>

            </div>

            <div class="row  py-5 mt-5 my-auto d-flex justify-content-center w-100 "  style="border-top:1px solid #74FFFF;" >
                 
              <div class="col-lg-10 d-flex justify-content-center text-center" style=" color:#74FFFF">Copyright &copy; Edgecommerce. All Rights Reserved 2022.</div>
              <!-- <div class="col d-flex justify-content-end align-items-center">
              <div class="d-flex justify-content-center align-items-center">
               <a href="#" style="text-decoration:none; color:#74FFFF">Terms of Use</a>
              <div class="ms-2 me-2" style="color:#74FFFF" >|</div>
              <a href="#" style="text-decoration:none;color:#74FFFF">Privacy Policy</a>
            </div>
            </div> -->
            </div>

          </div>
        </div>
      </div>
