<!-- <div class="d-flex flex-column justify-content-center align-items-center mt-4">
  <img src="../../assets/logo.png" class="img-container"/>
  <div class="d-flex flex-column justify-content-center align-items-stretch mt-2">
    <a routerLink="/admin" class="btn btn-primary mt-3">Admin</a>
    <a routerLink="/key-partners" class="btn btn-primary mt-3">Key Partners</a>
  </div>
</div> -->

<!-- <div class="container-fluid mx-0 px-0">
  <div
    class="custom-section-size custom-header-container d-flex align-items-center justify-content-center"
  >
    <div class="row">
      <div
        class="col-md-6 custom-header-image d-flex align-items-center justify-content-center"
      >
        <img
          src="/assets/images/landingpage/header/logo.png"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 d-flex align-items-center custom-header-paragraph">
        <p class="fs-3 text-center">
          <i>
            "EdgeCommerce is your reliable partner in all aspects of your online
            business. We provide assistance on everything from product sourcing,
            inventory management, order fulfillment activities such as packing
            and shipping to make your eCommerce journey easier."
          </i>
        </p>
      </div>
    </div>
  </div>

  <div
    class="custom-section-size custom-whatwedo-container d-flex align-items-center"
  >
    <img
      src="/assets/images/landingpage/about/whatwedo.png"
      class="img-fluid w-75 mx-auto"
    />
  </div>

  <div class="custom-about-container custom-section-size">
    <div>
      <div class="row pb-5">
        <div class="video-container col-md-6 offset-md-3">
          <h1 class="m-0 py-4">About Us</h1>
          <video controls class="img-fluid">
            <source
              src="/assets/images/landingpage/about/edgeVideo.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="row">
        <div
          class="d-flex align-items-center justify-content-around py-5 px-0 mx-0"
          style="background-color: #44b5c4"
        >
          <h1 class="m-0 p-0 text-white">
            <span style="font-weight: 300">Join us!</span>&nbsp;
            <span>Become our KEY PARTNERS!</span>
          </h1>
          <button
            class="btn text-white py-3 px-5 fw-bold"
            style="background-color: #fd7c04; font-size: 0.8rem"
          >
            REGISTER HERE!
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container-fluid custom_fluid p-0 m-0 ">

  <div class="custom_container_size ">
    <div class="header_container">
      <nav class="custom_navigation navbar navbar-expand-lg  navbar-light">
        <div class="custom_logo navbar-brand ">
          <a href="#"><img src="assets/images/landingpage/header/Logoedge.png"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="custom_nav_list collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Register Here</a>
            </li>
            <li class="nav-item custom_contact">
              <a class="nav-link" href="#">Contact us</a>
            </li>
          </ul>
        </div>
      </nav>


      <div class="row custom_header_text d-flex justify-content-start h-75">
        <div class="col-lg-6  text-white custom_align_text align-self-start">
          <div class="h1">Why CHOOSE US?</div>
          <div class="text-size">Edgecommerce Is Your Reliable Partner In All Aspects <br>Of Your Online Business.
            We Provide Assistance On <br>Everything From Product Sourcing, Inventory <br>Management,
            Order Fulfillment Activities Such As Packing <br>And Shipping
            To Make Your Ecommerce Journey Easier.
          </div>
          <div class="btn_default_header btn text-center text-white shadow py-3 px-4  mt-3 d-flex align-items-center">
            <div><a hre="#">Read more</a></div>
            <span class="material-symbols-outlined ms-3 fs-1">trending_flat</span>
          </div>
        </div>


        <div class="col-lg-6 text-center custom_align_image align-self-end  gy-sm-5">
          <div class="computer_image_header">
            <img src="assets/images/landingpage/header/computeredge.svg" alt="computeredge">
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid custom_fluid p-0 m-0">
    <div class="row custom_section2 d-flex flex-column justify-content-start  align-items-center  h-100 ">
      <div class="row text-center h-25">
        <div class="default_header_text">
          <h1>We provide various kind <br>of service for you</h1>
          <p class="mt-5 ">It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content <br>Of
            A Page When Looking
            At Its Layout. </p>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-3 h-50 mt-5">
        <div class="col d-flex justify-content-center align-items-center">
          <div class="card shadow pt-5 p-3 mb-5" style="height:27rem; border-radius: 1rem;">
            <img src="assets/images/landingpage/peopleicon.svg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center align-items-center ">
              <h5 class="card-title fs-3">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>

            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card shadow pt-5  p-3 mb-5" style="height:27rem; border-radius: 1rem;">
            <img src="assets/images/landingpage/demand.svg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title fs-3 ">Card title</h5>
              <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card  shadow pt-5  p-3 mb-5" style="height:27rem;  border-radius: 1rem;">
            <img src="assets/images/landingpage/carticon.svg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title fs-3">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="container-fluid custom_fluid p-0 m-0 ">
      <div class="row custom_section3 d-flex flex-column justify-content-start  align-items-center h-100 ">
        <div class="row text-center h-25">
          <div class="default_header_text">
            <h1>Services</h1>
            <p class="mt-5">Edgecommerce Is Your Reliable Partner In All Aspects Of Your Online Business. <br>We Provide
              Assistance On Everything</p>
          </div>
        </div>
        <div class="row mt-5 overflow-auto">
          <div class="col col-md-auto m-auto">
            <div class="card" style="width:80rem;">
              <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <img src="assets/images/landingpage/diagram.png" alt="diagram" class="img-fluid"
                  style="width:fit-content; height: fit-content;">
              </div>
            </div>
          </div>
        </div>
        <div class="btn_default btn text-center bg-light shadow py-3 px-4 m-5 w-auto d-flex align-items-center">
          <div><a hre="#">Read more</a></div>
          <span class="material-symbols-outlined ms-3">trending_flat</span>
        </div>
      </div>
    </div>



  </div>

  <div class="container-fluid custom_fluid p-0 m-0 ">

    <div class="row custom_section2 d-flex flex-column justify-content-start  align-items-center  h-100 ">
      <div class="row text-center h-25">
        <div class="default_header_text">
          <h1>About Us</h1>
          <p class="mt-5 ">Edgecommerce Is Your Reliable Partner In All Aspects Of Your Online Business.
            <br>We Provide Assistance On Everything From Product Sourcing, Inventory Management,
            <br>Order Fulfillment Activities Such As Packing And Shipping To Make Your Ecommerce Journey Easier.
          </p>
        </div>
      </div>
    </div>
    <div class="custom_section_vid ">
      <div class="row align-items-center h-100">
        <div class="col col-lg-3 m-0 p-0">
          <img src="assets/images/landingpage/style1.svg" alt="style">
        </div>
        <div class="col col-lg-3 m-0 p-0">
          <div class="card shadow round" style="width:80rem;">
            <div class="card-body">
              <img src="assets/images/landingpage/vidimage.png" class="img-fluid" alt="image">
            </div>
          </div>
        </div>
        <div class="col col-lg-1 m-0 p-0"></div>
      </div>
    </div>
  </div>



  <div class="container-fluid custom_fluid p-0 m-0 ">

    <div class="row custom_section_leader  d-flex flex-column justify-content-start  align-items-center  h-100 ">
      <div class="row text-center">
        <div class="default_header_text">
          <h1>Who’s Behind Edgecommerce</h1>
          <p class="mt-5 ">Heres The Best President <br>And Managers In Our Company </p>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-3 h-50 mt-5">
        <div class="col d-flex justify-content-center align-items-center">
          <div class="card shadow pt-5 p-3 mb-5" style="height:27rem; border-radius: 1rem;">
            <img src="assets/images/landingpage/image1.JPG" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center align-items-center ">
              <h5 class="card-title fs-3">Kris Bayeta</h5>
              <p class="card-text">General Manager</p>

            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card shadow pt-5  p-3 mb-5" style="height:27rem; border-radius: 1rem;">
            <img src="assets/images/landingpage/image2.JPG" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title fs-3 ">Adel Bayeta</h5>
              <p class="card-text ">CEO/President</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card  shadow pt-5  p-3 mb-5" style="height:27rem;  border-radius: 1rem;">
            <img src="assets/images/landingpage/image3.JPG" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title fs-3">Kath Donna Lat</h5>
              <p class="card-text">Admin Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid custom_fluid p-0 m-0 ">

  <div class="custom_testimonials"> 
    <div class="row w-100">
      <div class="col-lg-8">
      <div class="default_header_text">
        <h1>Our Clients Feedback</h1>
        <p>There Are Many Variations Of Passages Of Lorem Ipsum<br>
          But The Majority Have Suffered Alteration.</p>
      </div>
    </div>
    <div class="col d-flex justify-content-end align-items-center" >
      <div class="btn_default btn shadow d-flex justify-content-center py-3 align-items-center" style="border-radius:10px; width:12rem" >
        <div><a hre="#">Read more</a></div>
        <span class="material-symbols-outlined custom_color ms-3" style="color:black">trending_flat</span>
      </div>
    </div>

    </div>
    

        <div class="row align-items-center  custom-row h-75">
          <div class="col-lg-5 ">
            <img src="assets/images/landingpage/storeowner.png" class="img-fluid" alt="sample">
          </div>

          <div class="col-lg-5">
            <div class="row">
              <div style="color:yellow">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
              </div>
            </div>
            <div class="row py-3 fs-4 text-white" >
              <div class="lead">There Are Many Variations Of Passages Of Lorem Ipsum 
                But The Majority Have Suffered Alteration.</div>
            </div>
            <div class="row py-5 text-white">
              <h3>Juan Dela Cruz</h3>
              <span>Store Owner</span>
            </div>
          </div>

        </div>
    </div>

  </div>


<div class="container-fluid custom_fluid p-0 m-0 ">
    <div class="footer_container h-100">
           <div class="row">
              <div class="col">
                <div><img src="assets/images/landingpage/footer/Logoedge.png" alt="footer_logo"></div>
              </div>
              <div class="col">
                <div><img src="assets/images/landingpage/footer/fb.png" alt="..."></div>
                <div><img src="assets/images/landingpage/footer/twitter.png" alt="..."></div>
                <div><img src="assets/images/landingpage/footer/tele.png" alt="..."></div>
                <div><img src="assets/images/landingpage/footer/whatsapp.png" alt="..."></div>
              </div>
              <div class="col">
                <div class="footer_text_header">Links</div>
                <div class="footer_nav">
                  <ul>
                    <li><a hre="#">Home</a></li>
                    <li><a hre="#">Services</a></li>
                    <li><a hre="#">Registered Here</a></li>
                    <li><a hre="#">Contact Us</a></li>
                  </ul>
                </div>
              </div>
              <div class="col">
                <div class="footer_text_header">Support</div>
                <div class="footer_nav">
                  <ul>
                    <li><a hre="#">FAQ</a></li>
                    <li><a hre="#">How it</a></li>
                    <li><a hre="#">Features</a></li>
                    <li><a hre="#">Contact</a></li>
                    <li><a hre="#">Reporting</a></li>
                  </ul>
                </div>
              </div>
              <div class="col">
                <div class="footer_text_header">Contact Us</div>
                <div class="footer_nav">
                  <ul>
                    <li>09123456789</li>
                    <li>edgecommerce@gmail.com</li>
                    <li>Philippines</li>
                  </ul>
                </div>
              </div>
              
           </div>
           <div class="row">
            <div class="col">
              <div>Copyright 2022. Edgecommerce. All Rights Reserved.</div>
            </div>
            <div class="col">
              <div><a>Terms of Use</a></div>
              <div>|</div>
              <div><a>Privacy Policy</a></div>
            </div>
           </div>
    </div>
</div>