// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

// .img-container {
//   width: 17em;
//   max-height: 20em;
// }

// .custom-section-size {
//   min-height: 100vh;
//   height: fit-content;
//   font-family: "Open Sans", sans-serif;
// }

// .custom-header-container {
//   background-image: url("/assets/images/landingpage/header/BG.jpg");
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .custom-about-container {
//   background-image: radial-gradient(circle, red, white, white);
// }

// .custom-header-image {
//   img {
//     width: 40rem;
//     height: auto;
//   }
// }

// .custom-header-paragraph {
//   p {
//     width: 75%;
//   }
// }

// .custom-about-container {
// }


@media only screen and (max-width: 1366px) {
.custom_nav_list{
  position: static !important;
  left:0 !important;
 ul{
   list-style-type: none;
 }
 li{
   margin-right:0;
 }
}
}






@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  
}  

.custom_fluid{
  background-color: #F5F5FF;
  overflow-x: hidden;
}

.custom_container_size{
   
  height:100vh;

  background-image: url("../../assets/images/landingpage/header/BGheader.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center bottom;
  

  .header_container {
    margin:auto;
    padding-bottom:200px;
    width:84%;
    height:100vh;
    
    .btn_default_header{
      border-radius:10px;
      font-weight: bolder;
      font-size: 1.5rem;
      width:240px;
    
     }
     .btn_default_header:hover{ 
      background-color: #F4970F;
     }
    
    
  .computer_image_header{
    width:100%;
    img{
      min-width:20%;
      width:100%;
    }
  }

      //////////////////////////////  NAVIGATION  //////////////// 
     
 
    .custom_navigation {
      
      .custom_logo {
        width: 7rem;
        height: 7rem;
        

        img {
          width: 80%;
          min-width:50px;
          height: fit-content;
        }
      }
      
      
      .custom_nav_list{
         position: relative;
         left:27%;
        ul{
          
          list-style-type: none;
        
        }
        li{
          margin-right:2rem;
        }
        li a{
          color:white;
          font-weight:600;
          font-size:1.2rem;
          
        }
        .custom_contact{
          background-color: #F4970F;
          border-radius: 20px;
          padding-left:10px;
          padding-right: 10px;
        }
      }
    }
  ////////////////////////////////////////
 .custom_header_text{
  padding-top: 3.5rem;

    .h1{
      font-weight:bolder;
      font-size:3.5rem;
 
    }

    .text-size{
      font-size:1.4rem;
     
    }
 

   
   .computer_image_header{
   
      img{
      max-width:900px;
      min-width: 10px;
    
    }
   }


  }
}
}


  /////////////////////////section 2////////////// 
    
  .default_header_text{
    h1{
       font-weight:bolder;
       font-size:2.5rem;
    }
    p{
      font-weight:lighter;
      font-size: 1.2rem;
    }
  }

  .custom_section2{
    padding-top:7rem;
    margin-top: 0;
    margin:auto;
    width:90%;
    max-height: fit-content;
    height:100vh;
    
   .card {
      max-width: fit-content;
      width:25rem;
    img{
       width: 40%;
       margin: auto;
       margin-bottom: 3rem;
    }
   }
    
  }
///////////////////////////

 /////////////////////////section 3////////////// 

  .custom_section3{
    padding-top:7rem;
    margin-top: 0;
    margin:auto;
    width:90%;
    max-height: fit-content;
    height:100vh;
    
   .btn_default{
    border-radius:10px;
   }


   
    
  }

   /////////////////////////section 4////////////// 
  .custom_section4{
    padding-top:7rem;
    margin-top: 0;
    margin:auto;
    width:90%;
    max-height: fit-content;
    height:100vh;
    
   .btn_default{
    border-radius:10px;
   }



  
  }

  .custom_section_vid{
    height:100vh;
 }

 .custom_section_leader{
  padding-top:7rem;
  margin-top: 0;
  margin:auto;
  width:90%;
  max-height: fit-content;
  height:100vh;
  
 .card {
    max-width: fit-content;
    width:25rem; 
  img{
     width:100%;
   

  }
 }
  
}

.custom_testimonials{
  padding-top:7rem;
  margin-top: 0;
  margin:auto;
  width:90%;
  max-width: fit-content;
  max-height: fit-content;
  height:100vh;

  
 .custom-row{
  background-image: url("../../assets/images/landingpage/bgorange.png");
  background-position:right;
  background-size:85%;
  background-repeat: no-repeat;
 }
 


.material-symbols-outlined {

  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

}

.footer_container{
  background-image: url("../../assets/images/landingpage/footer/bluerectangle.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center right;
  height:100vh;
}

