<!-- <div class="d-flex flex-column justify-content-center align-items-center mt-4">
  <img src="../../assets/logo.png" class="img-container"/>
  <div class="d-flex flex-column justify-content-center align-items-stretch mt-2">
    <a routerLink="/admin" class="btn btn-primary mt-3">Admin</a>
    <a routerLink="/key-partners" class="btn btn-primary mt-3">Key Partners</a>
  </div>
</div> -->

<!-- <div class="container-fluid mx-0 px-0">
  <div
    class="custom-section-size custom-header-container d-flex align-items-center justify-content-center"
  >
    <div class="row">
      <div
        class="col-md-6 custom-header-image d-flex align-items-center justify-content-center"
      >
        <img
          src="/assets/images/landingpage/header/logo.png"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 d-flex align-items-center custom-header-paragraph">
        <p class="fs-3 text-center">
          <i>
            "EdgeCommerce is your reliable partner in all aspects of your online
            business. We provide assistance on everything from product sourcing,
            inventory management, order fulfillment activities such as packing
            and shipping to make your eCommerce journey easier."
          </i>
        </p>
      </div>
    </div>
  </div>

  <div
    class="custom-section-size custom-whatwedo-container d-flex align-items-center"
  >
    <img
      src="/assets/images/landingpage/about/whatwedo.png"
      class="img-fluid w-75 mx-auto"
    />
  </div>

  <div class="custom-about-container custom-section-size">
    <div>
      <div class="row pb-5">
        <div class="video-container col-md-6 offset-md-3">
          <h1 class="m-0 py-4">About Us</h1>
          <video controls class="img-fluid">
            <source
              src="/assets/images/landingpage/about/edgeVideo.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="row">
        <div
          class="d-flex align-items-center justify-content-around py-5 px-0 mx-0"
          style="background-color: #44b5c4"
        >
          <h1 class="m-0 p-0 text-white">
            <span style="font-weight: 300">Join us!</span>&nbsp;
            <span>Become our KEY PARTNERS!</span>
          </h1>
          <button
            class="btn text-white py-3 px-5 fw-bold"
            style="background-color: #fd7c04; font-size: 0.8rem"
          >
            REGISTER HERE!
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid p-0 m-0">
  <div class="custom_container_size">

    <div class="header_container">
      <nav class="custom_navigation navbar navbar-expand-lg navbar-light">
        <div class="custom_logo navbar-brand ">
          <a href="#"><img src="assets/images/landingpage/header/Logoedge.png"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="custom_nav_list collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Register Here</a>
            </li>
            <li class="nav-item custom_contact">
              <a class="nav-link" href="#">Contact us</a>
            </li>
          </ul>
        </div>
      </nav>




        <div class="row  d-lg-flex align-items-lg-center custom_row_content h-75">
          <div class="col-lg-7 custom_label_header">
            <div class="div">
            <h1>Why CHOOSE US?</h1>
            <p class="fs-3">Edgecommerce Is Your Reliable Partner In All Aspects <br>Of Your Online Business.
              We Provide Assistance On <br>Everything From Product Sourcing, Inventory <br>Management,
              Order Fulfillment Activities Such As Packing <br>And Shipping
              To Make Your Ecommerce Journey Easier.</p>
            </div>
          </div>
          <div class="col-lg-5 text-center h-50">
            <div class="computer_image_header">
              <img src="assets/images/landingpage/header/computeredge.svg" alt="computeredge">
            </div>
          </div>
        </div>
      </div>
 



    <div class="custom_section2 d-flex flex-column justify-content-start  align-items-center h-100 mt-5">
      <div class="row text-center h-25">
        <div class="default_header_text">
      <h1>We provide various kind <br>of service for you</h1>
      <p>It Is A Long Established Fact That A Reader Will Be Distracted By <br> The Readable Content Of A Page When Looking
        At Its Layout. </p>
      </div>
      </div>
    
      <div class="row row-cols-1 row-cols-md-3 h-50">
        <div class="col d-flex justify-content-center">
          <div class="card w-75 shadow p-3 mb-5 bg-body rounded">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card w-75 shadow p-3 mb-5 bg-body rounded">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card w-75 shadow p-3 mb-5 bg-body rounded">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
 
