<div class="container-fluid">
  <h2 class="h2 h2-responsive my-3 fw-bolder">SOA</h2>
  <div class="col-md-12">
    <div class="card shadow mx-2 mx-auto p-md-3">
      <div class="card-body">
        <h3 class="h3">Send SOA</h3>
        <div class="col-md-6">
          <div class="mb-3">
            <div class="mb-3 position-relative">
              <label for="date" class="form-label fw-bold m-0 p-0"
                >Select Key Partner</label
              >
              <input
                type="text"
                class="form-control"
                id="keyPartner"
                autocomplete="off"
                name="keyPartner"
                (keyup)="handleSearch($event)"
                [(ngModel)]="data.keyPartner"
              />
              <ng-template [ngIf]="keyList.length !== 0">
                <ul class="custom-autocomplete" id="auto-complete">
                  <li
                    *ngFor="let key of keyList"
                    (click)="
                      keyListClick(key._id, key.company + ' - ' + key.email)
                    "
                  >
                    {{ key.company + " - " + key.email }}
                  </li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <button
            class="px-5 btn btn-dark text-white fw-bold shadow"
            (click)="selectFile()"
          >
            Upload File
          </button>
          <input
            type="file"
            id="soa"
            class="d-none"
            (change)="changeFile($event)"
          />
          <span class="mx-3 fw-bold">{{ filename }}</span>
        </div>

        <ng-template [ngIf]="progress > 0">
          <div class="progress mb-3">
            <div
              class="progress-bar"
              role="progressbar"
              [style.width.%]="progress"
              attr.aria-valuenow="{{ progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ progress }}%
            </div>
          </div>
        </ng-template>

        <div class="text-end">
          <button
            class="btn btn-dark"
            (click)="saveContract()"
            [disabled]="loading"
          >
            <ng-template [ngIf]="loading">
              <div
                class="spinner-border spinner-border-sm text-warning"
                role="status"
              >
                <span class="sr-only"></span>
              </div>
            </ng-template>
            <ng-template [ngIf]="!loading"> Send </ng-template>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-5">
    <h3 class="h3">SOA Sending History</h3>
    <div class="card shadow p-3">
      <div class="card-body">
        <div class="table-responsive" style="height: 23rem">
          <table class="hoverable table table-hover text-center">
            <thead class="bg-light sticky-top">
              <tr>
                <th class="text-truncate px-1">Date Sent</th>
                <th class="text-truncate px-1">Sent To (Key Partners Name)</th>
                <th class="text-truncate px-1">Key Partners Company Name</th>
                <th class="text-truncate px-1">Actions</th>
              </tr>
            </thead>
            <tbody class="border-top-0">
              <ng-template [ngIf]="sentFileHistory.length === 0">
                <tr>
                  <td colspan="4">
                    <small class="fw-bold">No Record Found.</small>
                  </td>
                </tr>
              </ng-template>
              <ng-template [ngIf]="sentFileHistory.length !== 0">
                <tr *ngFor="let i of sentFileHistory">
                  <td class="text-truncate px-1">
                    {{ i.createdAt | customDate: "MM/DD/YYYY hh:mm:ss a" }}
                  </td>
                  <td class="text-truncate px-1">{{ i.keyPartner.name }}</td>
                  <td class="text-truncate px-1">{{ i.keyPartner.company }}</td>
                  <td>
                    <button
                      class="btn btn-dark text-white fw-bolder py-0"
                      data-tool-tip="View SOA"
                    >
                      <i class="bi bi-door-open"></i>
                    </button>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- <nav class="d-flex justify-content-end my-4">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link custom-pagination-label" href="#">Previous</a>
        </li>
        <li class="page-item custom-pagination-label">
          <a class="page-link custom-pagination-label" href="#">1</a>
        </li>
        <li class="page-item custom-pagination-label">
          <a class="page-link custom-pagination-label" href="#">Next</a>
        </li>
      </ul>
    </nav> -->
  </div>
</div>
