<div class="container p-4">
  <h4 class="h4 h4-responsive">Create New Inquiry</h4>
  <div class="card shadow px-3">
    <div class="card-body">
      <div class="d-flex flex-wrap">
        <div class="flex-grow-1 px-3">
          <div class="form-group">
            <label for="item-description" class="fs-6 fw-bold"
              >Item Description</label
            >
            <input
              type="text"
              class="form-control"
              name="item-description"
              [(ngModel)]="inquiryForm.description"
            />
          </div>
          <div class="form-group">
            <label for="quantity" class="fs-6 fw-bold">Quantity</label>
            <input
              type="number"
              class="form-control"
              name="quantity"
              [(ngModel)]="inquiryForm.quantity"
            />
          </div>
          <div class="form-group">
            <label for="units" class="fs-6 fw-bold">Price / Unit</label>
            <input
              type="number"
              class="form-control"
              name="units"
              [(ngModel)]="inquiryForm.units"
            />
          </div>
          <div class="form-group">
            <label for="remarks" class="fs-6 fw-bold">Remarks</label>
            <textarea
              name="remarks"
              class="form-control"
              [(ngModel)]="inquiryForm.remarks"
            ></textarea>
          </div>
          <br />
          <button
            type="button"
            class="btn btn-dark"
            (click)="handleNewItem(inquiryForm)"
          >
            Add Item
          </button>
        </div>
        <div class="flex-grow-1 px-3">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Item Description</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price/Unit</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inq of inquiry; let i = index">
                  <td>{{ inq.description }}</td>
                  <td>{{ inq.quantity }}</td>
                  <td>{{ inq.units }}</td>
                  <th scope="row">
                    <i
                      class="bi bi-x-lg text-danger"
                      (click)="removeFromList(i)"
                    ></i>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <button
        class="btn btn-dark me-2"
        (click)="handleClose()"
        [disabled]="loading"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-dark"
        (click)="handleSaveInquiry($event)"
        [disabled]="loading"
      >
        <ng-template [ngIf]="loading">
          <div
            class="spinner-border spinner-border-sm text-warning"
            role="status"
          >
            <span class="sr-only"></span>
          </div>
        </ng-template>
        <ng-template [ngIf]="!loading"> Save </ng-template>
      </button>
    </div>
  </div>
</div>
